/* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {
  .akcio_bem {
    /*border:3px solid red;*/
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    min-height: 4rem;
    max-height: 4rem;
    color:red;
     } 
 
   .Bemutatkozo_csomag_egesz{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width:100%;
    /* background-color: rgba(252, 253, 253, 0.87);*/
     background-color: white;
     border-radius: 25px;
     padding:2%;
     border: 2px solid rgba(47, 218, 241, 0.87);
     box-shadow: 0px 0px  10px rgba(47, 218, 241, 0.87);
     border:2px solid rgba( 49,193,245);
     border:2px solid rgba(40, 164, 241, 0.938);
     box-shadow: 0px 0px 5px rgba(40, 164, 241, 0.938);
     padding-left: 2%;
     padding-right: 2%;
     padding-bottom:2%;
     padding-top: 5%;
    
 }
  
 .Bemutatkozo_csomag_alja{
   width:100%;
  /* border: 3px solid blue;*/
 }
}
/* 0. Mini SmartPhones VÉGE*/


/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {
 
  .akcio_bem {
    /*border:3px solid red;*/
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    min-height: 4rem;
    max-height: 4rem;
    color:red;
     } 
 
   .Bemutatkozo_csomag_egesz{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width:100%;
    /* background-color: rgba(252, 253, 253, 0.87);*/
     background-color: white;
     border-radius: 25px;
     padding:2%;
     border: 2px solid rgba(47, 218, 241, 0.87);
     box-shadow: 0px 0px  10px rgba(47, 218, 241, 0.87);
     border:2px solid rgba( 49,193,245);
     border:2px solid rgba(40, 164, 241, 0.938);
     box-shadow: 0px 0px 5px rgba(40, 164, 241, 0.938);
     padding-left: 2%;
     padding-right: 2%;
     padding-bottom:2%;
     padding-top: 5%;
    
 }
  
 .Bemutatkozo_csomag_alja{
   width:100%;
  /* border: 3px solid blue;*/
 }
    
  }

/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
  
  .akcio_bem {
    /*border:3px solid red;*/
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    min-height: 4rem;
    max-height: 4rem;
    color:red;
     } 
 
   .Bemutatkozo_csomag_egesz{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width:100%;
    /* background-color: rgba(252, 253, 253, 0.87);*/
     background-color: white;
     border-radius: 25px;
     padding:2%;
     border: 2px solid rgba(47, 218, 241, 0.87);
     box-shadow: 0px 0px  10px rgba(47, 218, 241, 0.87);
     border:2px solid rgba( 49,193,245);
     border:2px solid rgba(40, 164, 241, 0.938);
     box-shadow: 0px 0px 5px rgba(40, 164, 241, 0.938);
     padding-left: 2%;
     padding-right: 2%;
     padding-bottom:2%;
     padding-top: 5%;
    
 }
  
 .Bemutatkozo_csomag_alja{
   width:100%;
  /* border: 3px solid blue;*/
 }
  

}


/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/


/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
  
  .akcio_bem {
   /*border:3px solid red;*/
   text-align: center;
   font-size: 3rem;
   font-weight: 900;
   min-height: 4rem;
   max-height: 4rem;
   color:red;
    } 

  .Bemutatkozo_csomag_egesz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
   /* background-color: rgba(252, 253, 253, 0.87);*/
    background-color: white;
    border-radius: 25px;
    padding:2%;
    border: 2px solid rgba(47, 218, 241, 0.87);
    box-shadow: 0px 0px  10px rgba(47, 218, 241, 0.87);
    border:2px solid rgba( 49,193,245);
    border:2px solid rgba(40, 164, 241, 0.938);
    box-shadow: 0px 0px 5px rgba(40, 164, 241, 0.938);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom:2%;
    padding-top: 5%;
   
}
 
.Bemutatkozo_csomag_alja{
  width:100%;
 /* border: 3px solid blue;*/
}
  
}

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/

/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
  .akcio_bem {
    /*border:3px solid red;*/
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    min-height: 2.5rem;
    max-height: 2.5rem;
    color:red;
    } 

  .Bemutatkozo_csomag_egesz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*width: 16.66rem;*/
    width:100%;
  /*  margin: 0 .5rem 2.3rem .5rem;*/
  /*  border: 10px solid rgba(97, 8, 240, 0.87);
    box-shadow: 0px 0px  10px rgba(97, 8, 240, 0.87);*/
   /*background-color: rgba(252, 253, 253, 0.87);*/
    background-color: white;
    border-radius: 25px;
    padding:2%;
    border: 2px solid rgba(47, 218, 241, 0.87);
    box-shadow: 0px 0px  10px rgba(47, 218, 241, 0.87);
    border:2px solid rgba( 49,193,245);
    border:2px solid rgba(40, 164, 241, 0.938);
    box-shadow: 0px 0px 10px rgba(40, 164, 241, 0.938);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom:2%;
    padding-top: 5%;   
    }
 
.Bemutatkozo_csomag_alja{
  width:100%;
 /*border: 3px solid blue;*/
}
 
}
/* 4. Tablets, Ipads (landscape) VÉGE*/


/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {
  
  .akcio_bem {
    /* border:3px solid red;*/
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    min-height: 3rem;
    max-height: 3rem;
    color:red;
    } 

  .Bemutatkozo_csomag_egesz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*width: 16.66rem;*/
    width:100%;
  /*  margin: 0 .5rem 2.3rem .5rem;*/
  /*  border: 10px solid rgba(97, 8, 240, 0.87);
    box-shadow: 0px 0px  10px rgba(97, 8, 240, 0.87);*/
   /* background-color: rgba(252, 253, 253, 0.87);*/
    background-color: white;
    border-radius: 25px;
    padding:2%;
    border: 2px solid rgba(47, 218, 241, 0.87);
    box-shadow: 0px 0px  10px rgba(47, 218, 241, 0.87);
    border:2px solid rgba( 49,193,245);
    border:2px solid rgba(40, 164, 241, 0.938);
    box-shadow: 0px 0px 10px rgba(40, 164, 241, 0.938);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom:2%;
    padding-top: 5%;
}
 
.Bemutatkozo_csomag_alja{
  width:100%;
 /*border: 3px solid blue;*/
}
  
  
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width:1599px){
  
  .akcio_bem {
    /*border:3px solid red;*/
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    min-height: 4rem;
    max-height: 4rem;
    color:red;
    } 

  .Bemutatkozo_csomag_egesz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*width: 16.66rem;*/
    width:100%;
  /*  margin: 0 .5rem 2.3rem .5rem;*/
  /*  border: 10px solid rgba(97, 8, 240, 0.87);
    box-shadow: 0px 0px  10px rgba(97, 8, 240, 0.87);*/
   /* background-color: rgba(252, 253, 253, 0.87);*/
     background-color: white;
    border-radius: 25px;
    padding:2%;
    border: 2px solid rgba(47, 218, 241, 0.87);
    box-shadow: 0px 0px  10px rgba(47, 218, 241, 0.87);
    border:2px solid rgba( 49,193,245);
    border:2px solid rgba(40, 164, 241, 0.938);
    box-shadow: 0px 0px 10px rgba(40, 164, 241, 0.938);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom:2%;
    padding-top: 5%;    
}
 
.Bemutatkozo_csomag_alja {
  width:100%;
 /*border: 3px solid blue;*/
} 
  
}

/* 6. Higher resolution desktops VÉGE*/


/* 7. Larger screen ELEJE*/

@media  (min-width: 1600px) {

  .akcio_bem {
   /*border:3px solid red;*/
   text-align: center;
   font-size: 2.5rem;
   font-weight: 900;
   min-height: 4rem;
   max-height: 4rem;
   color:red;
  } 

  .Bemutatkozo_csomag_egesz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*width: 16.66rem;*/
    width:100%;
  /*  margin: 0 .5rem 2.3rem .5rem;*/
  /*  border: 10px solid rgba(97, 8, 240, 0.87);
    box-shadow: 0px 0px  10px rgba(97, 8, 240, 0.87);*/
   /* background-color: rgba(252, 253, 253, 0.87);*/
    background-color: white;
    border-radius: 25px;
    padding:2%;
    border: 2px solid rgba(47, 218, 241, 0.87);
    box-shadow: 0px 0px  10px rgba(47, 218, 241, 0.87);
    border:2px solid rgba( 49,193,245);
    border:2px ridge rgba(40, 164, 241, 0.938);
    box-shadow: 0px 0px 10px rgba(40, 164, 241, 0.938);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom:2%;
    padding-top: 5%;  
  
  
}
 
.Bemutatkozo_csomag_alja { 
  width:100%;
 /*border: 3px solid blue;*/
}
}

/*7.Larger screen VÉGE*/