


/* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {
  /* 0. EGÉSZ ÉS ÁRAK ELEJE*/
  
    /*0.*/
    .SeoBegesz {
      /*üres*/
      }
  
   /*0.*/
    .SeoBcim {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      color:red;
      text-align: center;
      /*border: 3px solid red;*/
    }

    /*0.*/
  .SeoBcim h1 {
    /*  margin-bottom: 2rem;*/     
  }
  
  /*0.*/
  .SeoBcim img {
      max-height: 13rem;
      min-height: 13rem;
  }

  
     /*0.*/
    .SeoBkeret {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid red; 
      border-radius: 3px;
      width:100%;
      padding:2%;
    }
  
     /*0.*/
    .SeoBakcio {
      display: flex;
      width:100%;
      flex-direction: column;
      align-items: center; 
      text-align: center;  
      border-radius: 3px;  
      padding:2%;
    }
   
     /*0.*/
    .SeoBakcio2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
      text-align: center;   
    }
    
     /*0.*/
    .SeoBakcio2 h1{
      font-size: 1rem;
      line-height: 1.5rem;
      padding:1%;
      background-color: red;
      color:white;
      min-width: 10rem; 
    }
  
     /*0.*/
    .SeoBakcio3 {
      display: flex;
      flex-direction: column;  
      justify-content: center;
     /* border: 3px solid magenta;*/
      font-size: 0.8rem;
      height: 3rem;
     }
  
     /*EGÉSZ ÉS ÁRAK VÉGE*/
  
      /*CÉLOK ÉS IDŐ ELEJE*/
  
       /*0.*/
    .SeoBcelokEgesz {
      display: flex;
      flex-direction: column;
     margin-top:1rem;
    }
  
     /*0.*/
    .SeoBcelokEgesz h1{
      text-align: center;
      font-size: 1.3rem;  
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: red;
      color:white;
    }
  
     /*0.*/
    .SeoBgombjobbra {
        display: flex;
        justify-content: flex-end;    
        padding-top: 0.2rem; 
        padding-bottom: 0.2rem; 
     }
  
      /*0.*/
     .SeoBido {
      display: flex;
      flex-direction: column;
     }
  
      /*0.*/
     .SeoBido p {
      font-size: 1.2rem;
      line-height: 1.5rem;
     }
  
    /*CÉLOK ÉS IDŐ VÉGE*/
  
  
     /*SOROK (TULAJDONSÁGOK) ELEJE*/
     /*0.*/
     .SeoBsorKont {
      /* margin-top:1rem;*/
     }
  
      /*0.*/
    .SeoBsorCelKont {
      margin-top:1%;
    }
  
     /*0.*/
    .SeoBsorCel {
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
    }
  
     /*0.*/
   .SeoBsorCel h1{
      text-align: center;
      font-size: 1.2rem;
    }
  
     /*0.*/
    .SeoBsorCim {
      padding-top: 1.5%;
      padding-bottom: 0.5%;   
      padding-left: 1%; 
      /*border: 3px solid red;*/
      width:100%;
    }
  
     /*0.*/
    .SeoBsorCim h1 {
      text-align: left;
     /* padding-left: 2%;*/
    }
  
     /*0.*/
    .SeoBbutton {
      background-color: red;
      color: white;
      min-width:7rem;
      min-height: 2rem;
      /*border: 3px solid red;*/
    }
  
     /*0.*/
    .OpenSeoBsor {
      display: flex;
      flex-direction: column;
      border:  2px dashed red;
      min-width: 100%;
      font-size: 1rem;
      line-height: 1.2rem;
      padding:1rem;
      margin:0.5rem;
      margin-left: 0rem;
    }
  
     /*0.*/
    .OpenSeoBsor ul {
      padding:1rem;
      padding-left: 2rem;
      list-style-type: circle;
    }
  
     /*0.*/
    .CloseSeoBsor {
       visibility: hidden;
        max-height:0rem;
     }
  
     /*SOROK (TULAJDONSÁGOK) VÉGE*/  
    
  }
  
  /* 0. Mini SmartPhones VÉGE*/
  
  
  
  /* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
  @media (min-width: 320px) and (max-width: 480px) {
    /* 1. EGÉSZ ÉS ÁRAK ELEJE*/
  
    /*1.*/
    .SeoBegesz {
      /*üres*/
      }
  
   /*1.*/
    .SeoBcim {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      color:red;
      /*border: 3px solid red;*/
      text-align: center;
    }

      /*1.*/
  .SeoBcim h1 {
    /*  margin-bottom: 2rem;*/     
  }
  
  /*1.*/
  .SeoBcim img {
      max-height: 13rem;
      min-height: 13rem;
  }
  
     /*1.*/
    .SeoBkeret {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid red; 
      border-radius: 3px;
      width:100%;
      padding:2%;
    }
  
     /*1.*/
    .SeoBakcio {
      display: flex;
      width:100%;
      flex-direction: column;
      align-items: center; 
      text-align: center;  
      border-radius: 3px;  
      padding:2%;
    }
   
     /*1.*/
    .SeoBakcio2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
      text-align: center;   
    }
    
     /*1.*/
    .SeoBakcio2 h1{
      font-size: 1rem;
      line-height: 1.5rem;
      padding:1%;
      background-color: red;
      color:white;
      min-width: 15rem; 
    }
  
     /*1.*/
    .SeoBakcio3 {
      display: flex;
      flex-direction: column;  
      justify-content: center;
     /* border: 3px solid magenta;*/
      font-size: 1rem;
      height: 3rem;
     }
  
     /*EGÉSZ ÉS ÁRAK VÉGE*/
  
      /*CÉLOK ÉS IDŐ ELEJE*/
  
       /*1.*/
    .SeoBcelokEgesz {
      display: flex;
      flex-direction: column;
     margin-top:1rem;
    }
  
     /*1.*/
    .SeoBcelokEgesz h1{
      text-align: center;
      font-size: 1.3rem;  
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: red;
      color:white;
    }
  
     /*1.*/
    .SeoBgombjobbra {
        display: flex;
        justify-content: flex-end;    
        padding-top: 0.2rem; 
        padding-bottom: 0.2rem; 
     }
  
      /*1.*/
     .SeoBido {
      display: flex;
      flex-direction: column;
     }
  
      /*1.*/
     .SeoBido p {
      font-size: 1.2rem;
      line-height: 1.5rem;
     }
  
    /*CÉLOK ÉS IDŐ VÉGE*/
  
  
     /*SOROK (TULAJDONSÁGOK) ELEJE*/
     /*1.*/
     .SeoBsorKont {
      /* margin-top:1rem;*/
     }
  
      /*1.*/
    .SeoBsorCelKont {
      margin-top:1%;
    }
  
     /*1.*/
    .SeoBsorCel {
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
    }
  
     /*1.*/
   .SeoBsorCel h1{
      text-align: center;
      font-size: 1.2rem;
    }
  
     /*1.*/
    .SeoBsorCim {
      padding-top: 1.5%;
      padding-bottom: 0.5%;   
      padding-left: 1%; 
      /*border: 3px solid red;*/
      width:100%;
    }
  
     /*1.*/
    .SeoBsorCim h1 {
      text-align: left;
     /* padding-left: 2%;*/
    }
  
     /*1.*/
    .SeoBbutton {
      background-color: red;
      color: white;
      min-width:9rem;
      min-height: 2rem;
      /*border: 3px solid red;*/
    }
  
     /*1.*/
    .OpenSeoBsor {
      display: flex;
      flex-direction: column;
      border:  2px dashed red;
      min-width: 100%;
      font-size: 1rem;
      line-height: 1.2rem;
      padding:1rem;
      margin:0.5rem;
      margin-left: 0rem;
    }
  
     /*1.*/
    .OpenSeoBsor ul {
      padding:1rem;
      padding-left: 2rem;
      list-style-type: circle;
    }
  
     /*1.*/
    .CloseSeoBsor {
       visibility: hidden;
        max-height:0rem;
     }
  
     /*SOROK (TULAJDONSÁGOK) ELEJE*/  
    
      
      
    }
  
  /* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/
  
  
  /* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
  @media (min-width: 481px) and (max-width: 767px) {
     /* 2. EGÉSZ ÉS ÁRAK ELEJE*/
  
    /*2.*/
    .SeoBegesz {
      /*üres*/
      }
  
   /*2.*/
    .SeoBcim {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      color:red;
      text-align: center;
      /*border: 3px solid red;*/
    }
  
    /*2.*/
    .SeoBcim h1 {
      /*  margin-bottom: 2rem;*/     
    }
    
    /*2.*/
    .SeoBcim img {
        max-height: 15rem;
        min-height: 15rem;
    }

     /*2.*/
    .SeoBkeret {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid red; 
      border-radius: 3px;
      width:100%;
      padding:2%;
    }
  
     /*2.*/
    .SeoBakcio {
      display: flex;
      width:100%;
      flex-direction: column;
      align-items: center; 
      text-align: center;  
      border-radius: 3px;  
      padding:2%;
    }
   
     /*2.*/
    .SeoBakcio2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
      text-align: center;   
    }
    
     /*2.*/
    .SeoBakcio2 h1{
      font-size: 1rem;
      line-height: 1.5rem;
      padding:1%;
      background-color: red;
      color:white;
      min-width: 15rem; 
    }
  
     /*2.*/
    .SeoBakcio3 {
      display: flex;
      flex-direction: column;  
      justify-content: center;
     /* border: 3px solid magenta;*/
      font-size: 1rem;
      height: 3rem;
     }
  
     /*EGÉSZ ÉS ÁRAK VÉGE*/
  
      /*CÉLOK ÉS IDŐ ELEJE*/
  
       /*2.*/
    .SeoBcelokEgesz {
      display: flex;
      flex-direction: column;
     margin-top:1rem;
    }
  
     /*2.*/
    .SeoBcelokEgesz h1{
      text-align: center;
      font-size: 1.3rem;  
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: red;
      color:white;
    }
  
     /*2.*/
    .SeoBgombjobbra {
        display: flex;
        justify-content: flex-end;    
        padding-top: 0.2rem; 
        padding-bottom: 0.2rem; 
     }
  
      /*2.*/
     .SeoBido {
      display: flex;
      flex-direction: column;
     }
  
      /*2.*/
     .SeoBido p {
      font-size: 1.2rem;
      line-height: 1.5rem;
     }
  
    /*CÉLOK ÉS IDŐ VÉGE*/
  
  
     /*SOROK (TULAJDONSÁGOK) ELEJE*/
     /*2.*/
     .SeoBsorKont {
      /* margin-top:1rem;*/
     }
  
      /*2.*/
    .SeoBsorCelKont {
      margin-top:1%;
    }
  
     /*2.*/
    .SeoBsorCel {
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
    }
  
     /*2.*/
   .SeoBsorCel h1{
      text-align: center;
      font-size: 1.2rem;
    }
  
     /*2.*/
    .SeoBsorCim {
      padding-top: 1.5%;
      padding-bottom: 0.5%;   
      padding-left: 1%; 
      /*border: 3px solid red;*/
      width:100%;
    }
  
     /*2.*/
    .SeoBsorCim h1 {
      text-align: left;
     /* padding-left: 2%;*/
    }
  
     /*2.*/
    .SeoBbutton {
      background-color: red;
      color: white;
      min-width:9rem;
      min-height: 2rem;
      /*border: 3px solid red;*/
    }
  
     /*2.*/
    .OpenSeoBsor {
      display: flex;
      flex-direction: column;
      border:  2px dashed red;
      min-width: 100%;
      font-size: 1rem;
      line-height: 1.2rem;
      padding:1rem;
      margin:0.5rem;
      margin-left: 0rem;
    }
  
     /*2.*/
    .OpenSeoBsor ul {
      padding:1rem;
      padding-left: 2rem;
      list-style-type: circle;
    }
  
     /*2.*/
    .CloseSeoBsor {
       visibility: hidden;
        max-height:0rem;
     }
  
     /*SOROK (TULAJDONSÁGOK) ELEJE*/  
    
  
  }
  
  /* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/
  
  
  /* 3. Device = Tablets, Ipads (portrait) ELEJE*/
  @media (min-width: 768px) and (max-width: 1024px) {
      /* 3. EGÉSZ ÉS ÁRAK ELEJE*/
  
    /*3.*/
    .SeoBegesz {
      /*üres*/
      }
  
   /*3.*/
    .SeoBcim {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 2.5rem;
     color:red;
     text-align: center;
      /*border: 3px solid red;*/
    }

    /*3.*/
    .SeoBcim h1 {
      /*  margin-bottom: 2rem;*/     
    }
    
    /*3.*/
    .SeoBcim img {
        max-height: 12rem;
        min-height: 12rem;
    }
  
     /*3.*/
    .SeoBkeret {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid red; 
      border-radius: 3px;
      width:100%;
      padding:2%;
    }
  
     /*3.*/
    .SeoBakcio {
      display: flex;
      width:100%;
      flex-direction: column;
      align-items: center; 
      text-align: center;  
      border-radius: 3px;  
      padding:2%;
    }
   
     /*3.*/
    .SeoBakcio2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
      text-align: center;   
    }
    
     /*3.*/
    .SeoBakcio2 h1{
      font-size: 1rem;
      line-height: 1.5rem;
      padding:1%;
      background-color: red;
      color:white;
      min-width: 15rem; 
    }
  
     /*3.*/
    .SeoBakcio3 {
      display: flex;
      flex-direction: column;  
      justify-content: center;
     /* border: 3px solid magenta;*/
      font-size: 1rem;
      height: 2rem;
     }
  
     /*EGÉSZ ÉS ÁRAK VÉGE*/
  
      /*CÉLOK ÉS IDŐ ELEJE*/
  
       /*3.*/
    .SeoBcelokEgesz {
      display: flex;
      flex-direction: column;
     margin-top:1rem;
    }
  
     /*3.*/
    .SeoBcelokEgesz h1{
      text-align: center;
      font-size: 1.3rem;  
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: red;
      color:white;
    }
  
     /*3.*/
    .SeoBgombjobbra {
        display: flex;
        justify-content: flex-end;    
        padding-top: 0.2rem; 
        padding-bottom: 0.2rem; 
     }
  
      /*3.*/
     .SeoBido {
      display: flex;
      flex-direction: column;
     }
  
      /*3.*/
     .SeoBido p {
      font-size: 1.2rem;
      line-height: 1.5rem;
     }
  
    /*CÉLOK ÉS IDŐ VÉGE*/
  
  
     /*SOROK (TULAJDONSÁGOK) ELEJE*/
     /*3.*/
     .SeoBsorKont {
      /* margin-top:1rem;*/
     }
  
      /*3.*/
    .SeoBsorCelKont {
      margin-top:1%;
    }
  
     /*3.*/
    .SeoBsorCel {
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
    }
  
     /*3.*/
   .SeoBsorCel h1{
      text-align: center;
      font-size: 1.2rem;
    }
  
     /*3.*/
    .SeoBsorCim {
      padding-top: 1.5%;
      padding-bottom: 0.5%;   
      padding-left: 1%; 
      /*border: 3px solid red;*/
      width:100%;
    }
  
     /*3.*/
    .SeoBsorCim h1 {
      text-align: left;
     /* padding-left: 2%;*/
    }
  
     /*3.*/
    .SeoBbutton {
      background-color: red;
      color: white;
      min-width:9rem;
      min-height: 2rem;
      /*border: 3px solid red;*/
    }
  
     /*3.*/
    .OpenSeoBsor {
      display: flex;
      flex-direction: column;
      border:  2px dashed red;
      min-width: 100%;
      font-size: 1rem;
      line-height: 1.2rem;
      padding:1rem;
      margin:0.5rem;
      margin-left: 0rem;
    }
  
     /*3.*/
    .OpenSeoBsor ul {
      padding:1rem;
      padding-left: 2rem;
      list-style-type: circle;
    }
  
     /*3.*/
    .CloseSeoBsor {
       visibility: hidden;
        max-height:0rem;
     }
  
     /*SOROK (TULAJDONSÁGOK) ELEJE*/ 
    
  }
  
  /* 3. Device = Tablets, Ipads (portrait) VÉGE*/
  
  /* 4. Tablets, Ipads (landscape) ELEJE*/
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* 4. EGÉSZ ÉS ÁRAK ELEJE*/
  
    /*4.*/
    .SeoBegesz {
      /*üres*/
      }
  
   /*4.*/
    .SeoBcim {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      color:red;
      text-align: center;
      /*border: 3px solid red;*/
    }

    .SeoBcim h1 {
      /*  margin-bottom: 2rem;*/     
    }
    
    .SeoBcim img {
        max-height: 13rem;
        min-height: 13rem;
    }
  
     /*4.*/
    .SeoBkeret {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid red; 
      border-radius: 3px;
      width:100%;
      padding:2%;
    }
  
     /*4.*/
    .SeoBakcio {
      display: flex;
      width:100%;
      flex-direction: column;
      align-items: center; 
      text-align: center;  
      border-radius: 3px;  
      padding:2%;
    }
   
     /*4.*/
    .SeoBakcio2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
      text-align: center;   
    }
    
     /*4.*/
    .SeoBakcio2 h1{
      font-size: 1rem;
      line-height: 1.5rem;
      padding:1%;
      background-color: red;
      color:white;
      min-width: 15rem; 
    }
  
     /*4.*/
    .SeoBakcio3 {
      display: flex;
      flex-direction: column;  
      justify-content: center;
     /* border: 3px solid magenta;*/
      font-size: 1rem;
      height: 2rem;
     }
  
     /*EGÉSZ ÉS ÁRAK VÉGE*/
  
      /*CÉLOK ÉS IDŐ ELEJE*/
  
       /*4.*/
    .SeoBcelokEgesz {
      display: flex;
      flex-direction: column;
     margin-top:1rem;
    }
  
     /*4.*/
    .SeoBcelokEgesz h1{
      text-align: center;
      font-size: 1.3rem;  
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: red;
      color:white;
    }
  
     /*4.*/
    .SeoBgombjobbra {
        display: flex;
        justify-content: flex-end;    
        padding-top: 0.2rem; 
        padding-bottom: 0.2rem; 
     }
  
      /*4.*/
     .SeoBido {
      display: flex;
      flex-direction: column;
     }
  
      /*4.*/
     .SeoBido p {
      font-size: 1.2rem;
      line-height: 1.5rem;
     }
  
    /*CÉLOK ÉS IDŐ VÉGE*/
  
  
     /*sOROK (TULAJDONSÁGOK) ELEJE*/
     /*4.*/
     .SeoBsorKont {
      /* margin-top:1rem;*/
     }
  
      /*4.*/
    .SeoBsorCelKont {
      margin-top:1%;
    }
  
     /*4.*/
    .SeoBsorCel {
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
    }
  
     /*4.*/
   .SeoBsorCel h1{
      text-align: center;
      font-size: 1.2rem;
    }
  
     /*4.*/
    .SeoBsorCim {
      padding-top: 1.5%;
      padding-bottom: 0.5%;   
      padding-left: 1%; 
      /*border: 3px solid red;*/
      width:100%;
    }
  
     /*4.*/
    .SeoBsorCim h1 {
      text-align: left;
     /* padding-left: 2%;*/
    }
  
     /*4.*/
    .SeoBbutton {
      background-color: red;
      color: white;
      min-width:9rem;
      min-height: 2rem;
      /*border: 3px solid red;*/
    }
  
     /*4.*/
    .OpenSeoBsor {
      display: flex;
      flex-direction: column;
      border:  2px dashed red;
      min-width: 100%;
      font-size: 1rem;
      line-height: 1.2rem;
      padding:1rem;
      margin:0.5rem;
      margin-left: 0rem;
    }
  
     /*4.*/
    .OpenSeoBsor ul {
      padding:1rem;
      padding-left: 2rem;
      list-style-type: circle;
    }
  
     /*4.*/
    .CloseSeoBsor {
       visibility: hidden;
        max-height:0rem;
     }
  
     /*SOROK (TULAJDONSÁGOK) ELEJE*/
   
  }
  /* 4. Tablets, Ipads (landscape) VÉGE*/
  
  
  /* 5. Laptops, Desktops ELEJE  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    /* 5. EGÉSZ ÉS ÁRAK ELEJE*/
  
    /*5.*/
    .SeoBegesz {
      /*üres*/
      }
  
   /*5.*/
    .SeoBcim {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 3rem;
     color:red;
     text-align: center;
      /*border: 3px solid red;*/
    }

    /*5.*/
    .SeoBcim h1 {
      /*  margin-bottom: 2rem;*/       
    }

     /*5.*/
    .SeoBcim img {
      max-height: 15rem;
      min-height: 15rem;
    }
  
     /*5.*/
    .SeoBkeret {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid red; 
      border-radius: 3px;
      width:100%;
      padding:2%;
    }
  
     /*5.*/
    .SeoBakcio {
      display: flex;
      width:100%;
      flex-direction: column;
      align-items: center; 
      text-align: center;  
      border-radius: 3px;  
      padding:2%;
    }
   
     /*5.*/
    .SeoBakcio2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
      text-align: center;   
    }
    
     /*5.*/
    .SeoBakcio2 h1{
      font-size: 1.2rem;
      line-height: 2rem;
      padding:1%;
      background-color: red;
      color:white;
      min-width: 20rem; 
    }
  
     /*5.*/
    .SeoBakcio3 {
      display: flex;
      flex-direction: column;  
      justify-content: center;
     /* border: 3px solid magenta;*/
     font-size: 1.3rem;
     height: 3rem;
     }
  
     /*EGÉSZ ÉS ÁRAK VÉGE*/
  
      /*CÉLOK ÉS IDŐ ELEJE*/
  
       /*5.*/
    .SeoBcelokEgesz {
      display: flex;
      flex-direction: column;
     margin-top:1rem;
    }
  
     /*5.*/
    .SeoBcelokEgesz h1{
      text-align: center;
      font-size: 1.5rem;  
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: red;
      color:white;
    }
  
     /*5.*/
    .SeoBgombjobbra {
        display: flex;
        justify-content: flex-end;    
        padding-top: 0.2rem; 
        padding-bottom: 0.2rem; 
     }
  
      /*5.*/
     .SeoBido {
      display: flex;
      flex-direction: column;
     }
  
      /*5.*/
     .SeoBido p {
      font-size: 1.2rem;
      line-height: 1.5rem;
     }
  
    /*CÉLOK ÉS IDŐ VÉGE*/
  
  
     /*sOROK (TULAJDONSÁGOK) ELEJE*/
     /*5.*/
     .SeoBsorKont {
      /* margin-top:1rem;*/
     }
  
      /*5.*/
    .SeoBsorCelKont {
      margin-top:1%;
    }
  
     /*5.*/
    .SeoBsorCel {
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
    }
  
     /*5.*/
   .SeoBsorCel h1{
      text-align: center;
      font-size: 1.5rem;
    }
  
     /*5.*/
    .SeoBsorCim {
      padding-top: 1.5%;
      padding-bottom: 0.5%;   
      padding-left: 1%; 
      /*border: 3px solid red;*/
      width:100%;
    }
  
     /*5.*/
    .SeoBsorCim h1 {
      text-align: left;
     /* padding-left: 2%;*/
    }
  
     /*5.*/
    .SeoBbutton {
      background-color: red;
      color: white;
      min-width:9rem;
      min-height: 2rem;
      /*border: 3px solid red;*/
    }
  
     /*5.*/
    .OpenSeoBsor {
      display: flex;
      flex-direction: column;
      border:  2px dashed red;
      min-width: 100%;
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding:1rem;
      margin:0.5rem;
      margin-left: 0rem;
    }
  
     /*5.*/
    .OpenSeoBsor ul {
      padding:1rem;
      padding-left: 2rem;
      list-style-type: circle;
    }
  
     /*5.*/
    .CloseSeoBsor {
       visibility: hidden;
        max-height:0rem;
     }
  
     /*SOROK (TULAJDONSÁGOK) ELEJE*/
    
    
  }
  /* 5. Laptops, Desktops VÉGE  */
  
  
  /* 6. Higher resolution desktops ELEJE*/
  
  @media (min-width: 1281px) and (max-width: 1599px) {
  
    /* 6. EGÉSZ ÉS ÁRAK ELEJE*/
  
    /*6.*/
    .SeoBegesz {
      /*üres*/
      }
  
   /*6.*/
    .SeoBcim {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      color:red;
      /*border: 3px solid red;*/
      text-align: center;
    }

    .SeoBcim h1 {
      /*  margin-bottom: 2rem;*/
       
      }
    
      .SeoBcim img {
        max-height: 20rem;
        min-height: 20rem;
       /* max-width:50%;
        margin-top:1rem;
        margin-bottom:1rem;
       /* border:3px solid red;*/
      }
    
  
     /*6.*/
    .SeoBkeret {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid red; 
      border-radius: 3px;
      width:100%;
      padding:2%;
    }
  
     /*6.*/
    .SeoBakcio {
      display: flex;
      width:100%;
      flex-direction: column;
      align-items: center; 
      text-align: center;  
      border-radius: 3px;  
      padding:2%;
    }
   
     /*6.*/
    .SeoBakcio2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
      text-align: center;   
    }
    
     /*6.*/
    .SeoBakcio2 h1{
      font-size: 1.5rem;
      line-height: 2rem;
      padding:1%;
      background-color: red;
      color:white;
      min-width: 20rem; 
    }
  
     /*6.*/
    .SeoBakcio3 {
      display: flex;
      flex-direction: column;  
      justify-content: center;
      /*border: 3px solid magenta;*/
      font-size: 1.3rem;
      height: 3rem;
     }
  
     /*EGÉSZ ÉS ÁRAK VÉGE*/
  
      /*CÉLOK ÉS IDŐ ELEJE*/
  
       /*6.*/
    .SeoBcelokEgesz {
      display: flex;
      flex-direction: column;
     margin-top:1rem;
    }
  
     /*6.*/
    .SeoBcelokEgesz h1{
      text-align: center;
      font-size: 2rem;  
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: red;
      color:white;
    }
  
     /*6.*/
    .SeoBgombjobbra {
        display: flex;
        justify-content: flex-end;    
        padding-top: 0.2rem; 
        padding-bottom: 0.2rem; 
     }
  
      /*6.*/
     .SeoBido {
      display: flex;
      flex-direction: column;
     }
  
      /*6.*/
     .SeoBido p {
      font-size: 1.2rem;
      line-height: 1.5rem;
     }
  
    /*CÉLOK ÉS IDŐ VÉGE*/
  
  
     /*sOROK (TULAJDONSÁGOK) ELEJE*/
     /*6.*/
     .SeoBsorKont {
      /* margin-top:1rem;*/
     }
  
      /*6.*/
    .SeoBsorCelKont {
      margin-top:1%;
    }
  
     /*6.*/
    .SeoBsorCel {
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
    }
  
     /*6.*/
   .SeoBsorCel h1{
      text-align: center;
      font-size: 1.5rem;
    }
  
     /*6.*/
    .SeoBsorCim {
      padding-top: 1.5%;
      padding-bottom: 0.5%;   
      padding-left: 1%; 
      /*border: 3px solid red;*/
      width:100%;
    }
  
     /*6.*/
    .SeoBsorCim h1 {
      text-align: left;
     /* padding-left: 2%;*/
    }
  
     /*6.*/
    .SeoBbutton {
      background-color: red;
      color: white;
      min-width:9rem;
      min-height: 2rem;
      /*border: 3px solid red;*/
    }
  
     /*6.*/
    .OpenSeoBsor {
      display: flex;
      flex-direction: column;
      border:  2px dashed red;
      min-width: 100%;
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding:1rem;
      margin:0.5rem;
      margin-left: 0rem;
    }
  
     /*6.*/
    .OpenSeoBsor ul {
      padding:1rem;
      padding-left: 2rem;
      list-style-type: circle;
    }
  
     /*6.*/
    .CloseSeoBsor {
       visibility: hidden;
        max-height:0rem;
     }
  
     /*sOROK (TULAJDONSÁGOK) ELEJE*/
  }
  
  /* 6. Higher resolution desktops VÉGE*/
  
  
  /* 7. Larger screen ELEJE*/
  
  @media (min-width: 1600px) {
  
    /*EGÉSZ ÉS ÁRAK ELEJE*/
     /*7.*/
    .SeoBegesz {
      /*üres*/
      }
  
    /*7.*/
    .SeoBcim {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 5rem;
      color:red;   
      text-align: center;
     /*border:3px solid green;*/
    }

    .SeoBcim h1 {
      margin-bottom: 2rem;
      
    }

    .SeoBcim img {
      max-height: 20rem;
      min-height: 20rem;
     /* max-width:50%;
      margin-top:1rem;
      margin-bottom:1rem;
     /* border:3px solid red;*/
    }
  
     /*7.*/
    .SeoBkeret {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid red; 
      border-radius: 3px;
      width:100%;
      padding:2%;
    }
  
     /*7.*/
    .SeoBakcio {
      display: flex;
      width:100%;
      flex-direction: column;
      align-items: center; 
      text-align: center;  
      border-radius: 3px;  
      padding:2%;
    }
   
     /*7.*/
    .SeoBakcio2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
      text-align: center;   
    }
    
     /*7.*/
    .SeoBakcio2 h1 {
      font-size: 1.5rem;
      line-height: 2rem;
      padding:1%;
      background-color: red;
      color:white;
      min-width: 20rem; 
    }
  
     /*7.*/
    .SeoBakcio3 {
      display: flex;
      flex-direction: column;  
      justify-content: center;
     /* border: 3px solid magenta;*/
      font-size: 1.4rem;
      height: 3rem;
     }
  
      /*EGÉSZ ÉS ÁRAK VÉGE*/
  
      /*CÉLOK ÉS IDŐ ELEJE*/
       /*7.*/
    .SeoBcelokEgesz {
      display: flex;
      flex-direction: column;
     margin-top:1rem;
    }
  
     /*7.*/
    .SeoBcelokEgesz h1{
      text-align: center;
      font-size: 2.5rem;  
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: red;
      color:white;
    }
  
     /*7.*/
    .SeoBgombjobbra {
        display: flex;
        justify-content: flex-end;    
        padding-top: 0.2rem; 
        padding-bottom: 0.2rem; 
     }
  
      /*7.*/
    .SeoBido {
      display: flex;
      flex-direction: column;
    }
  
     /*7.*/
    .SeoBido p {
      font-size: 1.2rem;
      line-height: 1.5rem;
     }
  
    /*CÉLOK ÉS IDŐ VÉGE*/
  
  
     /*sOROK (TULAJDONSÁGOK) ELEJE*/
     /*7.*/
     .SeoBsorKont {
      /* margin-top:1rem;*/
     }
  
    /*7.*/
    .SeoBsorCelKont {
      margin-top:1%;
    }
  
     /*7.*/
    .SeoBsorCel {
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
    }
  
     /*7.*/
   .SeoBsorCel h1{
      text-align: center;
      font-size: 1.5rem;
    }
  
     /*7.*/
    .SeoBsorCim {
      padding-top: 0.5%;
      padding-bottom: 0.5%;
    }
  
   /*7.*/
    .SeoBbutton {
      background-color: red;
      color: white;
      min-width:3.5rem;
      min-height: 2rem;
    }
  
     /*7.*/
    .OpenSeoBsor {
      display: flex;
      flex-direction: column;
      border:  2px dashed red;
      min-width: 100%;
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding:1rem;
      margin:0.5rem;
      margin-left: 0rem;
    }
  
     /*7.*/
    .OpenSeoBsor ul {
      padding:1rem;
      padding-left: 2rem;
      list-style-type: circle;
    }
  
     /*7.*/
    .CloseSeoBsor {
       visibility: hidden;
        max-height:0rem;
     }
  
     /*sOROK (TULAJDONSÁGOK) ELEJE*/
  }
  /* 7. Larger screen VÉGE*/

