


  /* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {
 
  /*1*/
  .KapcsolatEgesz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 3px solid red;*/
    /* margin: 0 auto;*/
   align-items: center;
  }

  /*1*/
  .KapcsCim h1 {
    /*color:red;*/
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
  }
  
  /*1*/
.Bemutatkozas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(40, 164, 241, 0.938);
    width:90%;
    padding-top:1rem;
    padding-bottom: 1rem;
   /* border: 3px solid red;*/
}

/*1*/
.Kepem  {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  /*width:13rem;*/
  /*border: 3px solid red;*/
  margin: 0 auto;
}

/*1*/
.NevFog {
   display: flex;
   flex-direction: column;
    align-items: center;
    /* border: 3px solid yellow;*/
    font-size: 1.5rem;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}
  
/*1*/
.NevFog h1 {
    padding-bottom: 2%;
    font-size: 1.5rem;
    text-align: center;
   /* border: 3px solid red;*/
  }

  /*1*/
.NevFog h2{
    text-align: center;
    margin-bottom: 1rem;
    /*border: 3px solid yellow*/
  }

  /*1*/
.NevFog p {
    /*color:red;*/
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: left;
}

/*1*/
#form-1{
    width:90%;
  }    
}

/* 0. Mini SmartPhones VÉGE*/


/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {

  /*1*/
  .KapcsolatEgesz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 3px solid red;*/
    /* margin: 0 auto;*/
   align-items: center;
  }

  /*1*/
  .KapcsCim h1 {
    /*color:red;*/
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
  }
  
  /*1*/
.Bemutatkozas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(40, 164, 241, 0.938);
    width:90%;
    padding-top:1rem;
    padding-bottom: 1rem;
   /* border: 3px solid red;*/
}

/*1*/
.Kepem  {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  /*width:13rem;*/
  /*border: 3px solid red;*/
  margin: 0 auto;
}

/*1*/
.NevFog {
   display: flex;
   flex-direction: column;
    align-items: center;
    /* border: 3px solid yellow;*/
    font-size: 1.5rem;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}
  
/*1*/
.NevFog h1 {
    padding-bottom: 2%;
    font-size: 1.5rem;
    text-align: center;
   /* border: 3px solid red;*/
  }

  /*1*/
.NevFog h2{
    text-align: center;
    margin-bottom: 1rem;
    /*border: 3px solid yellow*/
  }

  /*1*/
.NevFog p {
    /*color:red;*/
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: left;
}

/*1*/
#form-1{
    width:90%;
  }    
  }

/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
  /*2*/
  .KapcsolatEgesz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 3px solid red;*/
    /* margin: 0 auto;*/
   align-items: center;
  }

  /*2*/
  .KapcsCim h1 {
    /*color:red;*/
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
  }
  
  /*2*/
.Bemutatkozas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(40, 164, 241, 0.938);
    width:90%;
    padding-top:1rem;
    padding-bottom: 1rem;
   /* border: 3px solid red;*/
}

/*2*/
.Kepem  {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  width:20rem;
  /*border: 3px solid red;*/
  margin: 0 auto;
 
}

/*2*/
.NevFog {
   display: flex;
   flex-direction: column;
    align-items: center;
    /* border: 3px solid yellow;*/
    font-size: 1.5rem;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}
  
/*2*/
.NevFog h1 {
    padding-bottom: 2%;
    font-size: 1.5rem;
    text-align: center;
   /* border: 3px solid red;*/
  }

  /*2*/
.NevFog h2{
    text-align: center;
    margin-bottom: 1rem;
    /*border: 3px solid yellow*/
  }

  /*2*/
.NevFog p {
    /*color:red;*/
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: left;
}

/*2*/
#form-1{
    width:90%;
  }  
  }
  
/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/



/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
   /*3*/
   .KapcsolatEgesz {
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* border-top: 1px solid rgba(40, 164, 241, 0.938);
    border-bottom: 1px solid rgba(40, 164, 241, 0.938);*/
   align-items: center;
  }

  /*3*/
  .KapcsCim h1 {
    /*color:red;*/
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
   /* border: 3px solid orange;*/
    padding: 0;
    margin-bottom:1rem ;
  }
  
  /*3*/
.Bemutatkozas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:90%;
   /* padding-top:1rem;
    padding-bottom: 1rem;*/
    /*border: 3px solid blue;*/
    border-top: 1px solid rgba(40, 164, 241, 0.938);
    border-bottom: 1px solid rgba(40, 164, 241, 0.938);
}

/*3*/
.Kepem  {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  min-width:15rem;
 /* width:15rem;*/
  /*border: 3px solid purple;*/
  margin: 0 auto;
  padding-top: 1%;
}

/*3*/
.Kepem img {
 /* border: 3px solid yellow;*/
 min-width:15rem;
 /*width:15rem;*/
}

/*3*/
.NevFog {
   display: flex;
   flex-direction: column;
    align-items: center;
  /*  border: 3px solid yellow;*/
    font-size: 1.5rem;
    text-align: center;
 
}
  
/*3*/
.NevFog h1 {
   
    font-size: 1.5rem;
    text-align: center;
    
   /* border: 3px solid red;*/
  }

  /*3*/
.NevFog h2{
    text-align: center;
    margin-bottom: 1rem;
    /*border: 3px solid yellow*/
  }

  /*3*/
.NevFog p {
    /*color:red;*/
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: left;
    padding:1rem;
}

/*3*/
.KapcsSzoveg {
 /* border: 3px solid yellow;*/
  font-size: 1rem;
  margin:2%;
  margin-top: 0%;
  padding: 2%;
  padding-top: 1%;
}

/*3*/
.KapcsSzoveg p {
  font-size: 1.2rem;

}

/*3*/
#form-1{
    width:90%;
  }  
  
}

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/

/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
  /*4*/
    .KapcsolatEgesz {
      display: flex;
      flex-direction: column;
      justify-content: center;
     /* border-top: 1px solid rgba(40, 164, 241, 0.938);
      border-bottom: 1px solid rgba(40, 164, 241, 0.938);*/
     align-items: center;
    }
  
    /*4*/
    .KapcsCim h1 {
      /*color:red;*/
      text-align: center;
      font-size: 2rem;
      font-weight: 900;
     /* border: 3px solid orange;*/
      padding: 0;
      margin-bottom:1rem ;
    }
    
    /*4*/
  .Bemutatkozas {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width:80%;
     /* padding-top:1rem;
      padding-bottom: 1rem;*/
      /*border: 3px solid blue;*/
      border-top: 1px solid rgba(40, 164, 241, 0.938);
      border-bottom: 1px solid rgba(40, 164, 241, 0.938);
  }
  
  /*4*/
  .Kepem  {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    min-width:15rem;
   /* width:15rem;*/
    /*border: 3px solid purple;*/
    margin: 0 auto;
    padding-top: 1%;
  }
  
  /*4*/
  .Kepem img {
   /* border: 3px solid yellow;*/
   min-width:15rem;
   /*width:15rem;*/
  }
  
  /*4*/
  .NevFog {
     display: flex;
     flex-direction: column;
      align-items: center;
    /*  border: 3px solid yellow;*/
      font-size: 1.5rem;
      text-align: center;
   
  }
    
  /*4*/
  .NevFog h1 {
     
      font-size: 1.5rem;
      text-align: center;
      
     /* border: 3px solid red;*/
    }
  
   /*4*/
  .NevFog h2{
      text-align: center;
      margin-bottom: 1rem;
      /*border: 3px solid yellow*/
    }
  /*4*/
  .NevFog p {
      /*color:red;*/
      font-size: 1.2rem;
      line-height: 1.2rem;
      text-align: left;
      padding:1rem;
  }
  
  /*4*/
  .KapcsSzoveg {
   /* border: 3px solid yellow;*/
    font-size: 1rem;
    margin:2%;
    margin-top: 0%;
    padding: 2%;
    padding-top: 1%;
  }
  
  /*4*/
  .KapcsSzoveg p {
    font-size: 1.2rem;
  
  }
  
  /*4*/
  #form-1{
      width:90%;
    }  

 
}
/* 4. Tablets, Ipads (landscape) VÉGE*/


/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {
 
  /*5*/
  .KapcsolatEgesz {
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* border-top: 1px solid rgba(40, 164, 241, 0.938);
    border-bottom: 1px solid rgba(40, 164, 241, 0.938);*/
   align-items: center;
  }

  /*5*/
  .KapcsCim h1 {
    /*color:red;*/
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
   /* border: 3px solid orange;*/
    padding: 0;
    margin-bottom:1rem ;
  }
  
  /*5*/
.Bemutatkozas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:70%;
   /* padding-top:1rem;
    padding-bottom: 1rem;*/
    /*border: 3px solid blue;*/
    border-top: 1px solid rgba(40, 164, 241, 0.938);
    border-bottom: 1px solid rgba(40, 164, 241, 0.938);
}

/*5*/
.Kepem  {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  min-width:20rem;
 /* width:15rem;*/
  /*border: 3px solid purple;*/
  margin: 0 auto;
  padding-top: 1%;
}

/*5*/
.Kepem img {
 /* border: 3px solid yellow;*/
 min-width:15rem;
 /*width:15rem;*/
}

/*5*/
.NevFog {
   display: flex;
   flex-direction: column;
    align-items: center;
  /*  border: 3px solid yellow;*/
    font-size: 1.5rem;
    text-align: center;
}
  
/*5*/
.NevFog h1 {
   
    font-size: 1.5rem;
    text-align: center;
    
   /* border: 3px solid red;*/
  }

/*5*/
.NevFog h2{
    text-align: center;
    margin-bottom: 1rem;
    /*border: 3px solid yellow*/
  }

/*5*/
.NevFog p {
    /*color:red;*/
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: left;
    padding:1rem;
}


/*5*/
.KapcsSzoveg {
 /* border: 3px solid yellow;*/
  font-size: 1rem;
  margin:2%;
  margin-top: 0%;
  padding: 2%;
  padding-top: 1%;
}


/*5*/
.KapcsSzoveg p {
  font-size: 1.2rem;

}

/*5*/
  #form-1{
    width:100%;
  }

  
  
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width: 1599px) {
 
 /*6*/
 .KapcsolatEgesz {
  display: flex;
  flex-direction: column;
  justify-content: center;
 /* border-top: 1px solid rgba(40, 164, 241, 0.938);
  border-bottom: 1px solid rgba(40, 164, 241, 0.938);*/
 align-items: center;
}

/*6*/
.KapcsCim h1 {
  /*color:red;*/
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
 /* border: 3px solid orange;*/
  padding: 0;
  margin-bottom:1rem ;
}

/*6*/
.Bemutatkozas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:60%;
 /* padding-top:1rem;
  padding-bottom: 1rem;*/
  /*border: 3px solid blue;*/
  border-top: 1px solid rgba(40, 164, 241, 0.938);
  border-bottom: 1px solid rgba(40, 164, 241, 0.938);
}

/*6*/
.Kepem  {
display: flex;
flex-direction: column;
justify-content: center;   
min-width:20rem;
/* width:15rem;*/
/*border: 3px solid purple;*/
margin: 0 auto;
padding-top: 1%;
}

/*6*/
.Kepem img {
/* border: 3px solid yellow;*/
min-width:15rem;
/*width:15rem;*/
}

/*6*/
.NevFog {
 display: flex;
 flex-direction: column;
  align-items: center;
/*  border: 3px solid yellow;*/
  font-size: 1.5rem;
  text-align: center;
}

/*6*/
.NevFog h1 {
 
  font-size: 1.5rem;
  text-align: center;
  
 /* border: 3px solid red;*/
}

/*6*/
.NevFog h2{
  text-align: center;
  margin-bottom: 1rem;
  /*border: 3px solid yellow*/
}

/*6*/
.NevFog p {
  /*color:red;*/
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: left;
  padding:1rem;
}


/*6*/
.KapcsSzoveg {
/* border: 3px solid yellow;*/
font-size: 1rem;
margin:2%;
margin-top: 0%;
padding: 2%;
padding-top: 1%;
}


/*6*/
.KapcsSzoveg p {
font-size: 1.2rem;

}

/*6*/
#form-1{
  width:100%;
}
  
}

/* 6. Higher resolution desktops VÉGE*/


/* 7. Larger screen ELEJE*/

@media (min-width: 1600px) {
 /*6*/
 .KapcsolatEgesz {
  display: flex;
  flex-direction: column;
  justify-content: center;
 /* border-top: 1px solid rgba(40, 164, 241, 0.938);
  border-bottom: 1px solid rgba(40, 164, 241, 0.938);*/
 align-items: center;
}

/*6*/
.KapcsCim h1 {
  /*color:red;*/
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
 /* border: 3px solid orange;*/
  padding: 0;
  margin-bottom:1rem ;
}

/*6*/
.Bemutatkozas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:60%;
 /* padding-top:1rem;
  padding-bottom: 1rem;*/
  /*border: 3px solid blue;*/
  border-top: 1px solid rgba(40, 164, 241, 0.938);
  border-bottom: 1px solid rgba(40, 164, 241, 0.938);
}

/*6*/
.Kepem  {
display: flex;
flex-direction: column;
justify-content: center;   
min-width:20rem;
/* width:15rem;*/
/*border: 3px solid purple;*/
margin: 0 auto;
padding-top: 1%;
}

/*6*/
.Kepem img {
/* border: 3px solid yellow;*/
min-width:15rem;
/*width:15rem;*/
}

/*6*/
.NevFog {
 display: flex;
 flex-direction: column;
  align-items: center;
/*  border: 3px solid yellow;*/
  font-size: 1.5rem;
  text-align: center;
}

/*6*/
.NevFog h1 {
 
  font-size: 1.5rem;
  text-align: center;
  
 /* border: 3px solid red;*/
}

/*6*/
.NevFog h2{
  text-align: center;
  margin-bottom: 1rem;
  /*border: 3px solid yellow*/
}

/*6*/
.NevFog p {
  /*color:red;*/
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: left;
  padding:1rem;
}


/*6*/
.KapcsSzoveg {
/* border: 3px solid yellow;*/
font-size: 1rem;
margin:2%;
margin-top: 0%;
padding: 2%;
padding-top: 1%;
}


/*6*/
.KapcsSzoveg p {
font-size: 1.2rem;

}

/*6*/
#form-1{
  width:100%;
}
}
/* 7. Larger screen VÉGE*/