


  /* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {
  .Kapcsolat_egesz{
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* border: 3px solid red;*/
   /* margin: 0 auto;*/
   align-items: center;
  }
  
  /*Képem*/
.Bemutatkozas{
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* border: 3px solid rgba(40, 164, 241, 0.938);*/
    width:90%;
    padding-top:1rem;
}

.Kepem{
   /* min-width: 13rem;*/
    max-width: 13rem;
    /*margin-right: 1%;*/
     margin: 0 auto;
  
}

/*Elérhetőség*/
.Tel_Email_kontener_kapcs{
    display:flex;
    flex-direction: column;    
    color: rgba(40, 164, 241, 0.938);  
     border: 3px solid rgba(40, 164, 241, 0.938);
   /* width: 50rem;*/
    height: 12rem;      
    margin-top:1rem;
  }    

  .Nev_fog{
      display: flex;
      flex-direction: column;
      align-items: center;
      /*border: 3px solid yellow;*/
      font-size: 1.2rem;
      text-align: center;
      padding-top: 4%;
      padding-bottom: 4%;
    }
  
  .Nev_fog h1{
    padding-bottom: 2%;
    text-align: center;
  }
  .Nev_fog h2{
    text-align: center;
  }
  .centerbe{
    display: flex;
    flex-direction: row; 
    justify-content: center;   
    
  }
  .centerbe_2{
    /*border: 3px solid yellow;*/
    width:10rem;
    
  }
  .Telefon_kapcs{
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    align-items: center;
    width:10rem;
    font-size: 0.8rem;
  /*  border: 3px solid red;   */
  }
  .Telefon_kapcs img{
    width:1.5rem;
    height: 1.5rem;
    margin-right:0.5rem;   
    /*border: 3px solid purple;*/
  }

  .Telefon_kapcs h2{
  /* border: 3px solid purple;*/
   font-size:0.8rem;  
  }
  
  .Email_kapcs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;   
    width:10rem;
    font-size: 2rem;
   /* border: 3px solid red;*/
   /* padding-left: 5.2rem;*/      
  }

  .Email_kapcs img {
    width:1.5rem;
    height: 1.5rem;
    margin-right:0.5rem;   
   /* border: 3px solid purple;*/   
  }

  .Email_kapcs h2{
    /*border: 3px solid purple;*/
    font-size:0.8rem;
  }

  #form-1{
    width:90%;
  }



}

/* 0. Mini SmartPhones VÉGE*/






/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {
  .Kapcsolat_egesz{
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* border: 3px solid red;*/
   /* margin: 0 auto;*/
   align-items: center;
  }
  
  /*Képem*/
.Bemutatkozas{
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* border: 3px solid rgba(40, 164, 241, 0.938);*/
    width:90%;
    padding-top:1rem;
}

.Kepem{
   /* min-width: 13rem;*/
    max-width: 13rem;
    /*margin-right: 1%;*/
     margin: 0 auto;
  
}

/*Elérhetőség*/
.Tel_Email_kontener_kapcs{
    display:flex;
    flex-direction: column;    
    color: rgba(40, 164, 241, 0.938);  
     border: 3px solid rgba(40, 164, 241, 0.938);
   /* width: 50rem;*/
    height: 12rem;      
    margin-top:1rem;
  }    

  .Nev_fog{
      display: flex;
      flex-direction: column;
      align-items: center;
     /* border: 3px solid yellow;*/
      font-size: 1.2rem;
      text-align: center;
      padding-top: 4%;
      padding-bottom: 4%;
    }
  
  .Nev_fog h1{
    padding-bottom: 2%;
    text-align: center;
  }
  .Nev_fog h2{
    text-align: center;
  }
  .centerbe{
    display: flex;
    flex-direction: row; 
    justify-content: center;   
    
  }
  .centerbe_2{
  /*  border: 3px solid yellow;*/
    width:10rem;
    
  }
  .Telefon_kapcs{
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    align-items: center;
    width:10rem;
    font-size: 0.8rem;
  /*  border: 3px solid red;   */
  }
  .Telefon_kapcs img{
    width:1.5rem;
    height: 1.5rem;
    margin-right:0.5rem;   
    /*border: 3px solid purple;*/
  }

  .Telefon_kapcs h2{
  /* border: 3px solid purple;*/
   font-size:0.8rem;  
  }
  
  .Email_kapcs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;   
    width:10rem;
    font-size: 2rem;
  /*  border: 3px solid red;*/
   /* padding-left: 5.2rem;*/      
  }

  .Email_kapcs img {
    width:1.5rem;
    height: 1.5rem;
    margin-right:0.5rem;   
   /* border: 3px solid purple;*/   
  }

  .Email_kapcs h2{
    /*border: 3px solid purple;*/
    font-size:0.8rem;
  }

  #form-1{
    width:90%;
  }
    
    
  }

/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
  .Kapcsolat_egesz{
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* border: 3px solid red;*/
   /* margin: 0 auto;*/
   align-items: center;
  }
  
  /*Képem*/
.Bemutatkozas{
    display: flex;
    justify-content: center;
   /* border: 3px solid green;*/
    width:70%;
}

.Kepem{
    min-width: 10rem;
    max-width: 10rem;
    margin-right: 1%;
}

/*Elérhetőség*/
.Tel_Email_kontener_kapcs{
    display:flex;
    flex-direction: column;    
    color: rgba(40, 164, 241, 0.938);  
    border: 3px solid rgba(40, 164, 241, 0.938);
    width: 50rem;
    height: 10rem;      
  }    

  .Nev_fog{
      display: flex;
      flex-direction: column;
      align-items: center;
    /*  border: 3px solid yellow;*/
      font-size: 1.2rem;
      text-align: center;
      padding-bottom: 4%;
    }
  
  .Nev_fog h1{
    padding-bottom: 2%;
    text-align: center;
  }
  .Nev_fog h2{
    text-align: center;
  }
  .centerbe{
    display: flex;
    flex-direction: row; 
    justify-content: center;   
  }
  .centerbe_2{
   /* border: 3px solid yellow;*/
    width:10rem;
    
  }
  .Telefon_kapcs{
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    align-items: center;
    width:10rem;
    font-size: 0.8rem;
   /* border: 3px solid red;   */
  }
  .Telefon_kapcs img{
    width:1rem;
    height: 1rem;
    margin-right:0.5rem;   
    /*border: 3px solid purple;*/
  }

  .Telefon_kapcs h2{
  /* border: 3px solid purple;*/
   font-size:0.8rem;  
  }
  
  .Email_kapcs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;   
    width:10rem;
    font-size: 1.3rem;
  /*  border: 3px solid red;*/
   /* padding-left: 5.2rem;*/      
  }

  .Email_kapcs img {
    width:1rem;
    height: 1rem;
    margin-right:0.5rem;   
   /* border: 3px solid purple;*/   
  }

  .Email_kapcs h2{
    /*border: 3px solid purple;*/
    font-size:0.8rem;
  }

  #form-1{
    width:70%;
  }

  

}


/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/







/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
  .Kapcsolat_egesz{
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* border: 3px solid red;*/
   /* margin: 0 auto;*/
   align-items: center;
  }
  
  /*Képem*/
.Bemutatkozas{
    display: flex;
    justify-content: center;
   /* border: 3px solid green;*/
    width:70%;
}

.Kepem{
    min-width: 16rem;
    max-width: 16rem;
    margin-right: 1%;
}

/*Elérhetőség*/
.Tel_Email_kontener_kapcs{
    display:flex;
    flex-direction: column;    
    color: rgba(40, 164, 241, 0.938);  
    border: 3px solid rgba(40, 164, 241, 0.938);
    width: 50rem;
    height: 16rem;      
  }    

  .Nev_fog{
      display: flex;
      flex-direction: column;
      align-items: center;
    /*  border: 3px solid yellow;*/
      font-size: 2rem;
      text-align: center;
      padding-bottom: 4%;
    }
  
  .Nev_fog h1{
    padding-bottom: 2%;
    text-align: center;
  }
  .Nev_fog h2{
    text-align: center;
  }
  .centerbe{
    display: flex;
    flex-direction: row; 
    justify-content: center;   
  }
  .centerbe_2{
   /* border: 3px solid yellow;*/
    width:15rem;
    
  }
  .Telefon_kapcs{
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    align-items: center;
    width:15rem;
    font-size: 1rem;
  /*  border: 3px solid red;   */
  }
  .Telefon_kapcs img{
    width:1.5rem;
    height: 1.5rem;
    margin-right:1rem;   
    /*border: 3px solid purple;*/
  }

  .Telefon_kapcs h2{
  /* border: 3px solid purple;*/
   font-size:1.1rem;  
  }
  
  .Email_kapcs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;   
    width:15rem;
    font-size: 1.3rem;
  /*  border: 3px solid red;*/
   /* padding-left: 5.2rem;*/      
  }

  .Email_kapcs img {
    width:1.5rem;
    height: 1.5rem;
    margin-right:1rem;   
   /* border: 3px solid purple;*/   
  }

  .Email_kapcs h2{
    /*border: 3px solid purple;*/
    font-size:1.1rem;
  }

  #form-1{
    width:70%;
  }

 
  
}

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/

/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .Kapcsolat_egesz{
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* border: 3px solid red;*/
   /* margin: 0 auto;*/
   align-items: center;
  }
  
  /*Képem*/
.Bemutatkozas{
    display: flex;
    justify-content: center;
   /* border: 3px solid green;*/
    width:70%;
}

.Kepem{
    min-width: 16rem;
    max-width: 16rem;
    margin-right: 1%;
}

/*Elérhetőség*/
.Tel_Email_kontener_kapcs{
    display:flex;
    flex-direction: column;    
    color: rgba(40, 164, 241, 0.938);  
    border: 3px solid rgba(40, 164, 241, 0.938);
    width: 50rem;
    height: 16rem;      
  }    

  .Nev_fog{
      display: flex;
      flex-direction: column;
      align-items: center;
    /*  border: 3px solid yellow;*/
      font-size: 2rem;
      text-align: center;
      padding-bottom: 4%;
    }
  
  .Nev_fog h1{
    padding-bottom: 2%;
    text-align: center;
  }
  .Nev_fog h2{
    text-align: center;
  }
  .centerbe{
    display: flex;
    flex-direction: row; 
    justify-content: center;   
  }
  .centerbe_2{
   /* border: 3px solid yellow;*/
    width:15rem;
    
  }
  .Telefon_kapcs{
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    align-items: center;
    width:15rem;
    font-size: 1rem;
  /*  border: 3px solid red;   */
  }
  .Telefon_kapcs img{
    width:1.5rem;
    height: 1.5rem;
    margin-right:1rem;   
    /*border: 3px solid purple;*/
  }

  .Telefon_kapcs h2{
  /* border: 3px solid purple;*/
   font-size:1.1rem;  
  }
  
  .Email_kapcs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;   
    width:15rem;
    font-size: 1.3rem;
  /*  border: 3px solid red;*/
   /* padding-left: 5.2rem;*/      
  }

  .Email_kapcs img {
    width:1.5rem;
    height: 1.5rem;
    margin-right:1rem;   
   /* border: 3px solid purple;*/   
  }

  .Email_kapcs h2{
    /*border: 3px solid purple;*/
    font-size:1.1rem;
  }

  #form-1{
    width:115%;
  }

 
}
/* 4. Tablets, Ipads (landscape) VÉGE*/


/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {
  .Kapcsolat_egesz{
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* border: 3px solid red;*/
   /* margin: 0 auto;*/
   align-items: center;
  }
  
  /*Képem*/
.Bemutatkozas{
    display: flex;
    justify-content: center;
  /*  border: 3px solid green;*/
    width:60%;
}

.Kepem{
    min-width: 16rem;
    max-width: 16rem;
    margin-right: 1%;
}

/*Elérhetőség*/
.Tel_Email_kontener_kapcs{
    display:flex;
    flex-direction: column;    
    color: rgba(40, 164, 241, 0.938);  
    border: 3px solid rgba(40, 164, 241, 0.938);
    width: 50rem;
    height: 16rem;      
  }    

  .Nev_fog{
      display: flex;
      flex-direction: column;
      align-items: center;
    /*  border: 3px solid yellow;*/
      font-size: 2rem;
      text-align: center;
      padding-bottom: 2%;
    }
  
  .Nev_fog h1{
    padding-bottom: 2%;
    text-align: center;
  }
  .Nev_fog h2{
    text-align: center;
  }
  .centerbe{
    display: flex;
    flex-direction: row; 
    justify-content: center;   
  }
  .centerbe_2{
  /*  border: 3px solid yellow;*/
    width:15rem;
    
  }
  .Telefon_kapcs{
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    align-items: center;
    width:17rem;
    font-size: 1rem;
  /*  border: 3px solid red;   */
  }
  .Telefon_kapcs img{
    width:2rem;
    height: 2rem;
    margin-right:1rem;   
    /*border: 3px solid purple;*/
  }

  .Telefon_kapcs h2{
  /* border: 3px solid purple;*/
   font-size:1.3rem;  
  }
  
  .Email_kapcs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;   
    width:17rem;
    font-size: 1.3rem;
   /* border: 3px solid red;*/
   /* padding-left: 5.2rem;*/      
  }

  .Email_kapcs img {
    width:2rem;
    height: 2rem;
    margin-right:1rem;   
   /* border: 3px solid purple;*/   
  }

  .Email_kapcs h2{
    /*border: 3px solid purple;*/
    font-size:1.3rem;
  }

  #form-1{
    width:100%;
  }

  
  
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width: 1599px) {
 
  .Kapcsolat_egesz{
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* border: 3px solid red;*/
   /* margin: 0 auto;*/
   align-items: center;
  }

  /*Képem*/
.Bemutatkozas{
    display: flex;
    justify-content: center;
   /* border: 3px solid green;*/
    width:60%;
}

.Kepem{
    min-width: 20rem;
    max-width: 20rem;
    margin-right: 1%;
}

/*Elérhetőség*/
.Tel_Email_kontener_kapcs{
    display:flex;
    flex-direction: column;    
    color: rgba(40, 164, 241, 0.938);  
    border: 3px solid rgba(40, 164, 241, 0.938);
    width: 50rem;
    height: 20rem;      
  }    

  .Nev_fog{
      display: flex;
      flex-direction: column;
      align-items: center;
     /* border: 3px solid yellow;*/
      font-size: 3rem;
      text-align: center;
      padding-bottom: 2%;
      padding-top: 10%;
    }
  
  .Nev_fog h1{
    padding-bottom: 2%;
    text-align: center;
  }
  .Nev_fog h2{
    text-align: center;
  }
  .centerbe{
    display: flex;
    flex-direction: row; 
    justify-content: center;   
  }
  .centerbe_2{
   /* border: 3px solid yellow;*/
    width:20rem;
    
  }
  .Telefon_kapcs{
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    align-items: center;
    width:20rem;
    font-size: 2rem;
   /* border: 3px solid red;   */
  }
  .Telefon_kapcs img{
    width:3rem;
    height: 3rem;
    margin-right:1rem;   
    /*border: 3px solid purple;*/
  }

  .Telefon_kapcs h2{
  /* border: 3px solid purple;*/
   font-size:1.5rem;  
  }
  
  .Email_kapcs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;   
    width:20rem;
    font-size: 2rem;
  /*  border: 3px solid red;*/
   /* padding-left: 5.2rem;*/      
  }

  .Email_kapcs img {
    width:3rem;
    height: 3rem;
    margin-right:1rem;   
   /* border: 3px solid purple;*/   
  }

  .Email_kapcs h2{
    /*border: 3px solid purple;*/
    font-size:1.5rem;
  }

  #form-1{
    width:100%;
  }
  
}

/* 6. Higher resolution desktops VÉGE*/


/* 7. Larger screen ELEJE*/

@media (min-width: 1600px) {

  .Kapcsolat_egesz{
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* border: 3px solid red;*/
   /* margin: 0 auto;*/
   align-items: center;
}
/*Képem*/
.Bemutatkozas{
    display: flex;
    justify-content: center;
    /*border: 3px solid green;*/
    width:60%;
}

.Kepem{
    min-width: 20rem;
    max-width: 20rem;
    margin-right: 1%;
}

/*Elérhetőség*/
.Tel_Email_kontener_kapcs{
    display:flex;
    flex-direction: column;    
    color: rgba(40, 164, 241, 0.938);  
    border: 3px solid rgba(40, 164, 241, 0.938);
    width: 50rem;
    height: 20rem;  
    
  }    

  .Nev_fog{
      display: flex;
      flex-direction: column;
      align-items: center;
     /* border: 3px solid yellow;*/
      font-size: 3rem;
      text-align: center;
      padding-bottom: 2%;
      padding-top: 6%;
    }
  
  .Nev_fog h1{
    padding-bottom: 2%;
    text-align: center;
  }
  .Nev_fog h2{
    text-align: center;
  }
  .centerbe{
    display: flex;
    flex-direction: row; 
    justify-content: center;   
  }
  .centerbe_2{
   /* border: 3px solid yellow;*/
    width:20rem;
    
  }
  .Telefon_kapcs{
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    align-items: center;
    width:20rem;
    font-size: 2rem;
   /* border: 3px solid red;   */
  }
  .Telefon_kapcs img{
    width:3rem;
    height: 3rem;
    margin-right:1rem;   
    /*border: 3px solid purple;*/
  }
  .Telefon_kapcs h2{
  /* border: 3px solid purple;*/
   font-size:1.5rem;
  
  }
  
  .Email_kapcs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;   
    width:20rem;
    font-size: 2rem;
  /*  border: 3px solid red;*/
   /* padding-left: 5.2rem;*/
      
  }
  .Email_kapcs img {
    width:3rem;
    height: 3rem;
    margin-right:1rem;   
   /* border: 3px solid purple;*/
   
  }
  .Email_kapcs h2{
    /*border: 3px solid purple;*/
    font-size:1.5rem;
  }

  #form-1{
    width:100%;
  }
}
/* 7. Larger screen VÉGE*/