/* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {
    /*TOOLBAR EGESZ*/

   

  }

  /* 0. Mini SmartPhones VÉGE*/



/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {
    /*TOOLBAR EGESZ*/

    /*1*/
.ToolbarHeaderEgesz {
      /*H2 beállítja*/
      /* color:red;*/
 /* border: 6px solid purple;*/
  width:100%;
  background-color: white;
  }         

   /*1*/
.ToolbarNavEgesz {
  display: flex;
  width: 100%;  
  flex-direction: column; 
  background-color: white;
 /* max-height: 3rem;*/
  z-index: 999;  
  top:0;
  border: 3px solid purple;
}

 /*1*/
.MobilNezet {
  /* border:3px solid blue;*/
  display:flex;
  justify-content: space-between;
  position: relative;
  z-index: 990; 
  width: 100%;
}

 /*1*/
.ButtonLogoKontener {
  display: flex;
  flex-direction: column;
 /* float: left;*/
  align-items: left;
  border: 3px solid purple;
  margin-left: 1rem;
  padding-left: 1%;
  /*SAFARI LEHET HOGY KELL NEKI MAGASÁGOT ÁLLÍTANI!!!!!!!!!!!!!!!!!!!!!!!*/
 /* height:10rem;*/
}

 /*1*/
.Button {
  /*H2 beállítja*/   
  display: flex;
  flex-direction: column;
  align-items: center; 
 /* padding-left: 0.5rem;*/
  color:grey;
 /* border: 3px solid yellow;*/
  width:2.8rem;
}

 /*1*/
.Button h2 {       
  font-weight: 200;
 
  }

  /*1*/
.ButKozepre {
   border: 1px dashed green;
  }

  /*1*/
.TelEmailKontener {
  display:flex;
  flex-direction: column; 
  color: rgba(40, 164, 241, 0.938);  
  border: 3px solid green;
  width: 100%;
  padding-left: 1%;
  margin-top: 2%;
}   

/*1*/
.Telefon {
  display: flex;
  width:1.3rem;
  border: 3px solid yellow;
  width: 13rem;
  align-items: center;
  padding-bottom: 1%;
}

/*1*/
.Telefon img {
width:1rem;
height: 1rem;
margin-right:0.2rem;
/*border: 3px solid purple;*/
}

/*1*/
.Telefon p {
 font-size:0.8rem;
}

/*1*/
.Szamkontener {
width:8rem;
}

/*1*/
.Szamkontener p{
 font-size: 1rem;
}

/*1*/
.Email {
  display: flex;
  align-items: center;
  width:1.3rem;
  font-size: 1rem;
}

.Email img {
  width:1rem;
  height: 1rem;
  margin-right:0.2rem;
}

/*1*/
.EU_Logo_kontener_mobil {
position: absolute;
right:0;
}

/*1*/
.EU_logo_Mobil {
  width:8rem;
  float:right;
  z-index: 10000;    
 /* border:3px dashed black;*/
  }

  /*MOBIL NÉZET ELEJE */

  /*DESKTOP ELEJE*/

  /*1*/
.EuLogoKontenerDesktop {
  display:none;
  }
  
.desktop_menu {
  display: none;
}

/*DESKTOP vÉGE*/
  }
/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {


}

/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/


/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/



/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 

}
/* 4. Tablets, Ipads (landscape) VÉGE*/



/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {

   /*TOOLBAR EGESZ*/

   .Toolbar_header_egesz {
    /*H2 beállítja*/
    /* color:red;*/
    /* border: 6px solid purple;*/
     width:100%;
    background-color: white;
    }         
              
   .Toolbar_nav_egesz {
    display: flex;
   /*border:3px dashed black;*/
    background-color: white;
    /*  max-height: 3rem;*/
    z-index: 999;  
    top:0;
    display:flex;
    flex-direction: column;  
    width:100%;
    }  

    .MobilNezet b{
    /* border:3px solid blue;*/
    display:none;
    }
              
    .Button_Logo_kontener {
     display:none;
    }
              
    .Button{
    display: none;
    }

    .Button h2 {
    display:none;
    }

   .Tel_Email_kontener {
    display:flex;
    flex-direction: column; 
    color: rgba(40, 164, 241, 0.938);  
    /* border: 3px solid green;*/
    width: 14rem;
    }

    .Telefon {
    display: flex;
    width:1.3rem;
    /* border: 3px solid yellow;*/
    width: 13rem;
    align-items: center;
    padding-bottom: 1%;
    }

   .Telefon img {
   width:1rem;
   height: 1rem;
   margin-right:0.2rem;
   /*border: 3px solid purple;*/
   }

   .Telefon p {
   font-size:0.8rem;
   }

  .Szamkontener {
  width:8rem;
  /*border: 3px solid red;*/
  }

  .Szamkontener p {
   
  }

 .Email {
    display: flex;
    align-items: center;
    width:1.3rem;
    font-size: 1rem;
  }

 .Email img {
    width:1rem;
    height: 1rem;
    margin-right:0.2rem;
 }
.Email h2 {
    font-size:0.8rem;
 }

.EU_Logo_kontener_mobil {
 display:none;
}

.EU_logo_Mobil {
 display: none;
}

.EuLogoKontenerDesktop {
 margin-bottom:2rem;
 /*border: 3px solid yellow;*/
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 height: 4rem;
 width:100%;
 }
             
.EuLogoKontenerDesktop ul {
/*border:3px solid purple;*/
display: flex;
justify-content: flex-start;
padding:0;
margin:0;   
width:100%; 
height: 4rem;        
}

/*ÁTMÁSOLNI*/

.EuLogoKontenerDesktop_belso {
/* border: 6px solid green;*/
display: flex;
justify-self: flex-start;
width: 100%;
height:4rem;
}

.EuLogoKontenerDesktop_belso ul {
/*border: 6px solid purple;*/
width: 100%;
height:4rem;
text-align: center;
}
  
.EuLogoKontenerDesktop_belso li {
/* border: 3px solid orange;*/
display: flex;  
justify-content: center;           
font-size: 31rem;
width:100%;       
height: 4rem;           
}

/*ÁTMÁSOLNI*/           

.EuLogoKontenerDesktop li {
/* margin:2%; */                                 
/*border: 3px solid blue;*/          
color:black;
font-style: oblique;
height: 2rem;
width:15%;  
}
              
.EuLogoKontenerDesktop a {
font-size:2.2vw;
color:black;
font-style: oblique;
height: 4rem;
width: 100%;  
/* border: 3px dashed red;*/
}                
         
.EU_Logo_kontener_desktop {
position: absolute;
top:0;
right: 0;
float:right;
min-height: 6rem;
/*border:3px solid green;*/
width:15rem;
height: 12rem;
}
              
.EU_logo_Desktop {
width:15rem;
min-height:10rem;
}
li .AktivMenu{
  color:rgba(40, 164, 241, 0.938);;
  } 
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width:1599px) {

 /*TOOLBAR EGESZ*/

 .Toolbar_header_egesz {
  /*H2 beállítja*/
  /* color:red;*/
  /* border: 6px solid purple;*/
   width:100%;
  background-color: white;
  }         
            
 .Toolbar_nav_egesz {
  display: flex;
 /*border:3px dashed black;*/
  background-color: white;
  /*  max-height: 3rem;*/
  z-index: 999;  
  top:0;
  display:flex;
  flex-direction: column;  
  width:100%;
  }  

  .MobilNezet b{
  /* border:3px solid blue;*/
  display:none;
  }
            
  .Button_Logo_kontener {
   display:none;
  }
            
  .Button{
  display: none;
  }

  .Button h2 {
  display:none;
  }

 .Tel_Email_kontener {
  display:flex;
  flex-direction: column; 
  color: rgba(40, 164, 241, 0.938);  
  /* border: 3px solid green;*/
  width: 14rem;
  }

  .Telefon {
  display: flex;
  width:1.3rem;
  /* border: 3px solid yellow;*/
  width: 13rem;
  align-items: center;
  padding-bottom: 1%;
  }

 .Telefon img {
 width:1rem;
 height: 1rem;
 margin-right:0.2rem;
 /*border: 3px solid purple;*/
 }

 .Telefon p {
 font-size:0.8rem;
 }

.Szamkontener {
width:8rem;
/*border: 3px solid red;*/
}

.Szamkontener p {
 
}

.Email {
  display: flex;
  align-items: center;
  width:1.3rem;
  font-size: 1rem;
}

.Email img {
  width:1rem;
  height: 1rem;
  margin-right:0.2rem;
}
.Email h2 {
  font-size:0.8rem;
}

.EU_Logo_kontener_mobil {
display:none;
}

.EU_logo_Mobil {
display: none;
}

.EuLogoKontenerDesktop {
margin-bottom:2rem;
/*border: 3px solid yellow;*/
display: flex;
flex-direction: column;
justify-content: flex-start;
height: 4rem;
width:100%;
}
           
.EuLogoKontenerDesktop ul {
/*border:3px solid purple;*/
display: flex;
justify-content: flex-start;
padding:0;
margin:0;   
width:100%; 
height: 4rem;        
}

/*ÁTMÁSOLNI*/

.EuLogoKontenerDesktop_belso {
/* border: 6px solid green;*/
display: flex;
justify-self: flex-start;
width: 100%;
height:4rem;
}

.EuLogoKontenerDesktop_belso ul {
/*border: 6px solid purple;*/
width: 100%;
height:4rem;
text-align: center;
}

.EuLogoKontenerDesktop_belso li {
/* border: 3px solid orange;*/
display: flex;  
justify-content: center;           
font-size: 31rem;
width:100%;       
height: 4rem;           
}

/*ÁTMÁSOLNI*/           

.EuLogoKontenerDesktop li {
/* margin:2%; */                                 
/*border: 3px solid blue;*/          
color:black;
font-style: oblique;
height: 2rem;
width:15%;  
}
            
.EuLogoKontenerDesktop a {
font-size:2.2vw;
color:black;
font-style: oblique;
height: 4rem;
width: 100%;  
/* border: 3px dashed red;*/
}                
       
.EU_Logo_kontener_desktop {
position: absolute;
top:0;
right: 0;
float:right;
min-height: 6rem;
/*border:3px solid green;*/
width:15rem;
height: 12rem;
}
            
.EU_logo_Desktop {
width:15rem;
min-height:10rem;
}
li .AktivMenu{
  color:rgba(40, 164, 241, 0.938);;
  } 
}

/* 6. Higher resolution desktops VÉGE*/

/* 7. Larger screen ELEJE*/

@media (min-width: 1600px) {

   /*TOOLBAR EGESZ*/

   .Toolbar_header_egesz {
    /*H2 beállítja*/
    /* color:red;*/
    /* border: 6px solid purple;*/
    width:100%;
    background-color: white;
    }         
              
   .Toolbar_nav_egesz {
    display: flex;
   /*border:3px dashed black;*/
    background-color: white;
    /*  max-height: 3rem;*/
    z-index: 999;  
    top:0;
    display:flex;
    flex-direction: column;  
    width:100%;
    }  

    .MobilNezet b{
    /* border:3px solid blue;*/
    display:none;
    }
              
    .Button_Logo_kontener {
     display:none;
    }
              
    .Button{
    display: none;
    }

    .Button h2 {
    display:none;
    }

   .Tel_Email_kontener {
    display:flex;
    flex-direction: column; 
    color: rgba(40, 164, 241, 0.938);  
    /* border: 3px solid green;*/
    width: 14rem;
    }

    .Telefon {
    display: flex;
    width:1.3rem;
    /* border: 3px solid yellow;*/
    width: 13rem;
    align-items: center;
    padding-bottom: 1%;
    }

   .Telefon img {
   width:1rem;
   height: 1rem;
   margin-right:0.2rem;
   /*border: 3px solid purple;*/
   }

   .Telefon p {
   font-size:0.8rem;
   }

  .Szamkontener {
  width:8rem;
  /*border: 3px solid red;*/
  }

  .Szamkontener p {
   
  }

 .Email {
    display: flex;
    align-items: center;
    width:1.3rem;
    font-size: 1rem;
  }

 .Email img {
    width:1rem;
    height: 1rem;
    margin-right:0.2rem;
 }
.Email h2 {
    font-size:0.8rem;
 }

.EU_Logo_kontener_mobil {
 display:none;
}

.EU_logo_Mobil {
 display: none;
}

.EuLogoKontenerDesktop {
 margin-bottom:2rem;
 /*border: 3px solid yellow;*/
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 height: 4rem;
 width:100%;
 }
             
.EuLogoKontenerDesktop ul {
/*border:3px solid purple;*/
display: flex;
justify-content: flex-start;
padding:0;
margin:0;   
width:100%; 
height: 4rem;        
}

/*ÁTMÁSOLNI*/

.EuLogoKontenerDesktop_belso {
/* border: 6px solid green;*/
display: flex;
justify-self: flex-start;
width: 100%;
height:4rem;
}

.EuLogoKontenerDesktop_belso ul {
/*border: 6px solid purple;*/
width: 100%;
height:4rem;
text-align: center;
}
  
.EuLogoKontenerDesktop_belso li {
/* border: 3px solid orange;*/
display: flex;  
justify-content: center;           
font-size: 31rem;
width:100%;       
height: 4rem;           
}

/*ÁTMÁSOLNI*/           

.EuLogoKontenerDesktop li {
/* margin:2%; */                                 
/*border: 3px solid blue;*/          
color:black;
font-style: oblique;
height: 2rem;
width:15%;  
}
              
.EuLogoKontenerDesktop a {
font-size:2.2vw;
color:black;
font-style: oblique;
height: 4rem;
width: 100%;  
/* border: 3px dashed red;*/
}                
         
.EU_Logo_kontener_desktop {
position: absolute;
top:0;
right: 0;
float:right;
min-height: 6rem;
/*border:3px solid green;*/
width:15rem;
height: 12rem;
}
              
.EU_logo_Desktop {
width:15rem;
min-height:10rem;
}
li .AktivMenu{
  color:rgba(40, 164, 241, 0.938);;
  }  
}

/* 7. Larger screen VÉGE*/
    