/* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {
    /*TOOLBAR EGESZ*/

  /*0*/
  .ToolbarHeaderEgesz {
  /*H2 beállítja*/
  width:100%;
  background-color: white;
  position: relative;
  }         

  /*0*/
  .ToolbarNavEgesz {
    display: flex;
    width: 100%;  
    flex-direction: column; 
    background-color: white;
  /* max-height: 3rem;*/
    z-index: 999;  
    top:0;
  /* border: 3px solid purple;*/
  }

  /*0*/
  .MobilNezet {
    /* border:3px solid blue;*/
    display:flex;
    justify-content: space-between;
    position: relative;
    z-index: 990; 
    width: 100%;
  }

  /*0*/
  .ButtonLogoKontener {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 1rem;
    padding-left: 1%;
    /*SAFARI LEHET HOGY KELL NEKI MAGASÁGOT ÁLLÍTANI!!!!!!!!!!!!!!!!!!!!!!!*/
  /* height:10rem;*/
  }

  /*0*/
  .Button {
    /*H2 beállítja*/   
    display: flex;
    flex-direction: column;
    align-items: center; 
  /* padding-left: 0.5rem;*/
    color:grey;
  /* border: 3px solid yellow;*/
    width:2.8rem;
  }

  /*0*/
  .Button h2 {       
    font-weight: 200;
    font-size: 1.5rem;
    padding-top: 0;
    color:black;
    }

  /*0*/
  .ButKozepre {
    font-size: 2rem;
    }

    /*0*/
  .TelEmailKontener {
    display:none; 
    }   

  /*0*/
  .EuLogoKontenerMobil {
  border:3px solid red;
  }

  /*0*/
  .EU_logo_Mobil {
    width:9rem;
    z-index: 10000;    
  /* border:3px dashed black;*/
    }

    /*MOBIL NÉZET VÉGE */

    /*DESKTOP ELEJE*/

   /*0*/
  .EuLogoKontenerDesktop {
    display:none;
    }
    
    /*0*/
  .DesktopMenu {
    display: none;
  }

    }

  /* 0. Mini SmartPhones VÉGE*/



/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {
    /*TOOLBAR EGESZ*/

    /*1*/
.ToolbarHeaderEgesz {
      /*H2 beállítja*/
      /* color:red;*/
 /*border: 6px solid purple;*/
  width:100%;
  background-color: white;
  position: relative;
  }         

   /*1*/
.ToolbarNavEgesz {
  display: flex;
  width: 100%;  
  flex-direction: column; 
  background-color: white;
 /* max-height: 3rem;*/
  z-index: 999;  
  top:0;
 /* border: 3px solid purple;*/
}

 /*1*/
.MobilNezet {
  /* border:3px solid blue;*/
  display:flex;
  justify-content: space-between;
  position: relative;
  z-index: 990; 
  width: 100%;  
  /*margin-bottom: 2rem;*/
}

 /*1*/
.ButtonLogoKontener {
  display: flex;
  flex-direction: column;
 justify-content: space-around;
 /* float: left;*/
 /* align-items: left;*/
 /* border: 3px solid purple;*/
  margin-left: 1rem;
 /* padding-left: 1%;
  /*SAFARI LEHET HOGY KELL NEKI MAGASÁGOT ÁLLÍTANI!!!!!!!!!!!!!!!!!!!!!!!*/
 /* height:10rem;*/
 /*border:3px solid green;*/

}

 /*1*/
.Button {
  /*H2 beállítja*/   
  display: flex;
  flex-direction: column;
  align-items: center; 
 /* padding-left: 0.5rem;*/
  color:black;
 /* border: 3px solid yellow;*/
  width:2.8rem;
 
}

 /*1*/
.Button h2 {       
  font-weight: 200;
  font-size: 1.5rem;
  padding-top: 0;
  color:black;
 /* border: 3px solid yellow;*/
  }

  /*1*/
.ButKozepre {
  /*border: 3px dashed green;*/
  font-size: 2rem;
  }



  /*1*/
.TelEmailKontener {
  display:flex;
  flex-direction: column; 
  color: rgba(40, 164, 241, 0.938);  
  color:black;
 /* border: 3px solid green;*/
  width: 100%;
  margin-top: 2%;
}   

/*1*/
.Telefon {
  display: flex;
  /*border: 3px solid yellow;*/
  width: 13rem;
  align-items: center;
  padding-bottom: 1%;
  padding-left: 0;
}

/*1*/
.Telefon img {
width:2.7rem;
height: 2.7rem;
margin-right:0.2rem;
/*border: 3px solid purple;*/
}

/*1*/
.Email p {
 font-size:1.2rem;
}

/*1*/
.Szamkontener {
width:100%;
/*border:3px solid red;*/
}

/*1*/
.Szamkontener p{
 font-size: 1.2rem;
}

/*1*/
.Email {
  display: flex;
  align-items: center;
  width:1.3rem;
  font-size: 1rem;
}

.Email img {
  width:3rem;
  height:3rem;
  margin-right:0.2rem;
}

/*1*/
.EuLogoKontenerMobil {
position: absolute;
right:0;
}

/*1*/
.EU_logo_Mobil {
  width:9rem;
  z-index: 10000;    
/* border:3px dashed black;*/
  }

  /*MOBIL NÉZET ELEJE */

  /*DESKTOP ELEJE*/

  /*1*/
.EuLogoKontenerDesktop {
  display:none;
  }
  
.DesktopMenu {
  display: none;
}

/*DESKTOP vÉGE*/
  }
/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
 
  /*2*/
  .ToolbarHeaderEgesz {
    /*H2 beállítja*/
    /* color:red;*/
    /*border: 6px solid purple;*/
    width:100%;
    background-color: white;
    position: relative;
  }         

  /*2*/
  .ToolbarNavEgesz {
  display: flex;
  width: 100%;  
  flex-direction: column; 
  background-color: white;
  /* max-height: 3rem;*/
  z-index: 999;  
  top:0;
  /* border: 3px solid purple;*/
  }

  /*2*/
  .MobilNezet {
  /* border:3px solid blue;*/
  display:flex;
  justify-content: space-between;
  position: relative;
  z-index: 990; 
  width: 100%;
  }

  /*2*/
  .ButtonLogoKontener {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-left: 1rem;
  padding-left: 1%;
  /*SAFARI LEHET HOGY KELL NEKI MAGASÁGOT ÁLLÍTANI!!!!!!!!!!!!!!!!!!!!!!!*/
  /* height:10rem;*/
  }

 /*2*/
  .Button {
  /*H2 beállítja*/   
  display: flex;
  flex-direction: column;
  align-items: center; 
  width:2.8rem;
  }

 /*2*/
  .Button h2 {       
  font-weight: 200;
  font-size: 1.5rem;
  padding-top: 0;
  color:black;
  /* border: 3px solid yellow;*/
  }

  /*1*/
  .ButKozepre {
  /*border: 3px dashed green;*/
  font-size: 2rem;
  }



  /*1*/
  .TelEmailKontener {
  display:flex;
  flex-direction: column; 
  color: rgba(40, 164, 241, 0.938);  
  /* border: 3px solid green;*/
  width: 100%;
  padding-left: 2%;
  margin-top: 2%;
  }   

  /*1*/
  .Telefon {
  display: flex;
  width:1.3rem;
  /*border: 3px solid yellow;*/
  width: 13rem;
  align-items: center;
  padding-bottom: 1%;
  }

  /*1*/
  .Telefon img {
  width:1rem;
  height: 1rem;
  margin-right:0.2rem;
  /*border: 3px solid purple;*/
  }

  /*1*/
  .Telefon p {
  font-size:0.8rem;
  }

  /*1*/
  .Szamkontener {
  width:8rem;
  }

  /*1*/
  .Szamkontener p{
  font-size: 1rem;
  }

  /*1*/
  .Email {
  display: flex;
  align-items: center;
  width:1.3rem;
  font-size: 1rem;
  }

  .Email img {
  width:1rem;
  height: 1rem;
  margin-right:0.2rem;
  }

  /*1*/
  .EuLogoKontenerMobil {
  position: absolute;
  right:0;
  }

  /*1*/
  .EU_logo_Mobil {
  width:9rem;
  z-index: 10000;    
  /* border:3px dashed black;*/
}

/*MOBIL NÉZET ELEJE */

/*DESKTOP ELEJE*/

/*1*/
.EuLogoKontenerDesktop {
display:none;
}

.DesktopMenu {
display: none;
}

}

/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/


/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
  .ToolbarHeaderEgesz {
    /*H2 beállítja*/
    /* color:red;*/
/*border: 6px solid purple;*/
width:100%;
background-color: white;
position: relative;
}         

 /*1*/
.ToolbarNavEgesz {
display: flex;
width: 100%;  
flex-direction: column; 
background-color: white;
/* max-height: 3rem;*/
z-index: 999;  
top:0;
/* border: 3px solid purple;*/
}

/*1*/
.MobilNezet {
/* border:3px solid blue;*/
display:flex;
justify-content: space-between;
position: relative;
z-index: 990; 
width: 100%;
}

/*1*/
.ButtonLogoKontener {
display: flex;
flex-direction: column;
align-content: space-between;
/* float: left;*/
/* align-items: left;*/
/* border: 3px solid purple;*/
margin-left: 1rem;
padding-left: 1%;
/*SAFARI LEHET HOGY KELL NEKI MAGASÁGOT ÁLLÍTANI!!!!!!!!!!!!!!!!!!!!!!!*/
/* height:10rem;*/
}

/*1*/
.Button {
/*H2 beállítja*/   
display: flex;
flex-direction: column;
align-items: center; 
/* padding-left: 0.5rem;*/
color:grey;
/* border: 3px solid yellow;*/
width:2.8rem;
}

/*1*/
.Button h2 {       
font-weight: 200;
font-size: 1.5rem;
padding-top: 0;
color:black;
/* border: 3px solid yellow;*/
}

/*1*/
.ButKozepre {
/*border: 3px dashed green;*/
font-size: 2rem;
}



/*1*/
.TelEmailKontener {
display:flex;
flex-direction: column; 
color: rgba(40, 164, 241, 0.938);  
/* border: 3px solid green;*/
width: 100%;
padding-left: 2%;
margin-top: 2%;
}   

/*1*/
.Telefon {
display: flex;
width:1.3rem;
/*border: 3px solid yellow;*/
width: 13rem;
align-items: center;
padding-bottom: 1%;
}

/*1*/
.Telefon img {
width:1rem;
height: 1rem;
margin-right:0.2rem;
/*border: 3px solid purple;*/
}

/*1*/
.Telefon p {
font-size:0.8rem;
}

/*1*/
.Szamkontener {
width:8rem;
}

/*1*/
.Szamkontener p{
font-size: 1rem;
}

/*1*/
.Email {
display: flex;
align-items: center;
width:1.3rem;
font-size: 1rem;
}

.Email img {
width:1rem;
height: 1rem;
margin-right:0.2rem;
}

/*1*/
.EuLogoKontenerMobil {
position: absolute;
right:0;
}

/*1*/
.EU_logo_Mobil {
width:9rem;
z-index: 10000;    
/* border:3px dashed black;*/
}

/*MOBIL NÉZET ELEJE */

/*DESKTOP ELEJE*/

/*1*/
.EuLogoKontenerDesktop {
display:none;
}

.DesktopMenu {
display: none;
}
}

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/



/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
/*TOOLBAR EGESZ ELEJE*/

/*4*/
.ToolbarHeaderEgesz {
  /*H2 beállítja*/
  /* color:red;*/
  /* border: 6px solid purple;*/
width:100%;
background-color: white;
}         
    
/*4*/
.ToolbarNavEgesz {
  display: flex;
  background-color: white;
  /*  max-height: 3rem;*/
  z-index: 999;  
  top:0;
  display:flex;
  flex-direction: column;  
  width:100%;
}  
/*MOBIL NÉZET ELEJE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*EGYSZERŰBB HOGY NEM AZ EGYES OSZTÁLYOKAT
HATÁROZOM MEG NÉZETENKÉNT HANEM EGY OSZTÁLYAL KAPCSOLOM KI
AZ EGÉSZET. ÍGY KÉT FAJTA KELETT A JSX BEN DE BŐVEN MEGÉRI
EGYSZERŰBB ÁTLÁTHATÓB HATÉKONYABB
NAVBARBAN IS SZÉT LEHETET VOLNA
VÁLASZTANI DE ÉN EZT VÁLASZOTTAM*/

/*4*/
.MobilNezet {
  display:none;
}

/*4*/
.SideEgesz {
    display:none;
}

/*MOBIL NÉZET VÉGE*/       

/*DESKTOP NÉZET ELEJE*/
 
/*4*/
.DesktopMenu {
display:flex;
justify-content: space-between;
height: 10rem;
}

/*4*/
.DesktopMenuBelso {
display: flex;
flex-direction: row;
width:100%;
}

/*4*/
.DesktopMenuBelso ul {
display: flex;
justify-content: flex-start;
width:100%;
}

/*4*/
.DesktopMenuBelso li{
display: flex;
justify-content: center;
font-size: 1.2rem;
padding: 2%;
}

/*4*/
.DesktopMenuBelso a {
color:rgba(40, 164, 241, 0.938);  
}
    
/*4*/
.EuLogoKontenerDesktop {
display: flex;
flex-direction: column;
justify-content: center;
width: 22rem;
}

/*4*/
.EuLogoKontenerDesktopBel{
/*border: 3px solid green;*/

}

/*4*/
.EuLogoKontenerDesktopBel img {
height: 11rem;
} 

}

/*DESKTOP NÉZET ELEJE*/
/*TOOLBAR EGESZ VÉGE*/
/* 4. Tablets, Ipads (landscape) VÉGE*/



/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {
/*TOOLBAR EGESZ ELEJE*/

/*5*/
.ToolbarHeaderEgesz {
  /*H2 beállítja*/
  /* color:red;*/
  /* border: 6px solid purple;*/
width:100%;
background-color: white;
}         
    
/*5*/
.ToolbarNavEgesz {
  display: flex;
  background-color: white;
  /*  max-height: 3rem;*/
  z-index: 999;  
  top:0;
  display:flex;
  flex-direction: column;  
  width:100%;
}  
/*MOBIL NÉZET ELEJE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*EGYSZERŰBB HOGY NEM AZ EGYES OSZTÁLYOKAT
HATÁROZOM MEG NÉZETENKÉNT HANEM EGY OSZTÁLYAL KAPCSOLOM KI
AZ EGÉSZET. ÍGY KÉT FAJTA KELETT A JSX BEN DE BŐVEN MEGÉRI
EGYSZERŰBB ÁTLÁTHATÓB HATÉKONYABB
NAVBARBAN IS SZÉT LEHETET VOLNA
VÁLASZTANI DE ÉN EZT VÁLASZOTTAM*/

/*5*/
.MobilNezet {
  display:none;
}

/*5*/
.SideEgesz {
    display:none;
}

/*MOBIL NÉZET VÉGE*/       

/*DESKTOP NÉZET ELEJE*/
 
/*5*/
.DesktopMenu {
display:flex;
justify-content: space-between;
height: 12rem;
}

/*5*/
.DesktopMenuBelso {
display: flex;
flex-direction: row;
width:100%;
}

/*5*/
.DesktopMenuBelso ul {
display: flex;
justify-content: flex-start;
width:100%;
}

/*5*/
.DesktopMenuBelso li{
display: flex;
justify-content: center;
font-size: 1.5rem;
padding: 2%;
}

/*5*/
.DesktopMenuBelso a {
color:rgba(40, 164, 241, 0.938);  
}
    
/*5*/
.EuLogoKontenerDesktop {
display: flex;
flex-direction: column;
justify-content: center;
width: 25rem;
}

/*5*/
.EuLogoKontenerDesktopBel{
/*border: 3px solid green;*/

}

/*5*/
.EuLogoKontenerDesktopBel img {
height: 12rem;
} 

}

/*DESKTOP NÉZET ELEJE*/
/*TOOLBAR EGESZ VÉGE*/
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width:1599px) {

/*TOOLBAR EGESZ ELEJE*/

/*6*/
.ToolbarHeaderEgesz {
  /*H2 beállítja*/
  /* color:red;*/
  /* border: 6px solid purple;*/
width:100%;
background-color: white;
}         
    
/*6*/
.ToolbarNavEgesz {
  display: flex;
  background-color: white;
  /*  max-height: 3rem;*/
  z-index: 999;  
  top:0;
  display:flex;
  flex-direction: column;  
  width:100%;
}  
/*MOBIL NÉZET ELEJE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*EGYSZERŰBB HOGY NEM AZ EGYES OSZTÁLYOKAT
HATÁROZOM MEG NÉZETENKÉNT HANEM EGY OSZTÁLYAL KAPCSOLOM KI
AZ EGÉSZET. ÍGY KÉT FAJTA KELETT A JSX BEN DE BŐVEN MEGÉRI
EGYSZERŰBB ÁTLÁTHATÓB HATÉKONYABB
NAVBARBAN IS SZÉT LEHETET VOLNA
VÁLASZTANI DE ÉN EZT VÁLASZOTTAM*/

/*6*/
.MobilNezet {
  display:none;
}

/*6*/
.SideEgesz {
    display:none;
}

/*MOBIL NÉZET VÉGE*/       

/*DESKTOP NÉZET ELEJE*/
 
/*6*/
.DesktopMenu {
display:flex;
justify-content: space-between;
height: 12rem;
}

/*6*/
.DesktopMenuBelso {
display: flex;
flex-direction: row;
width:100%;
}

/*6*/
.DesktopMenuBelso ul {
display: flex;
justify-content: flex-start;
width:100%;
}

/*6*/
.DesktopMenuBelso li{
display: flex;
justify-content: center;
font-size: 2.2rem;
padding: 2%;
}

/*6*/
.DesktopMenuBelso a {
color:rgba(40, 164, 241, 0.938);  
}
    
/*6*/
.EuLogoKontenerDesktop {
display: flex;
flex-direction: column;
justify-content: center;
width: 25rem;
}

/*6*/
.EuLogoKontenerDesktopBel{
/*border: 3px solid green;*/

}

/*6*/
.EuLogoKontenerDesktopBel img {
height: 12rem;
} 

}

/*DESKTOP NÉZET ELEJE*/
/*TOOLBAR EGESZ VÉGE*/

/* 6. Higher resolution desktops VÉGE*/

/* 7. Larger screen ELEJE*/

@media (min-width: 1600px) {

/*TOOLBAR EGESZ ELEJE*/

/*7*/
.ToolbarHeaderEgesz {
    /*H2 beállítja*/
    /* color:red;*/
    /* border: 6px solid purple;*/
  width:100%;
  background-color: white;
}         
     
/*7*/
.ToolbarNavEgesz {
    display: flex;
    background-color: white;
    /*  max-height: 3rem;*/
    z-index: 999;  
    top:0;
    display:flex;
    flex-direction: column;  
    width:100%;
 }  

/*MOBIL NÉZET ELEJE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*EGYSZERŰBB HOGY NEM AZ EGYES OSZTÁLYOKAT
HATÁROZOM MEG NÉZETENKÉNT HANEM EGY OSZTÁLYAL KAPCSOLOM KI
AZ EGÉSZET. ÍGY KÉT FAJTA KELETT A JSX BEN DE BŐVEN MEGÉRI
EGYSZERŰBB ÁTLÁTHATÓB HATÉKONYABB
NAVBARBAN IS SZÉT LEHETET VOLNA
VÁLASZTANI DE ÉN EZT VÁLASZOTTAM*/

/*7*/
.MobilNezet {
    display:none;
}

/*7*/
.SideEgesz {
      display:none;
}

/*MOBIL NÉZET VÉGE*/       

/*DESKTOP NÉZET ELEJE*/
   
/*7*/
.DesktopMenu {
  display:flex;
  justify-content: space-between;
  height: 15rem;
}

/*7*/
.DesktopMenuBelso {
  display: flex;
  flex-direction: row;
  width:100%;
}

/*7*/
.DesktopMenuBelso ul {
  display: flex;
  justify-content: flex-start;
  width:100%;
}

/*7*/
.DesktopMenuBelso li{
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  padding: 2%;
}

/*7*/
.DesktopMenuBelso a {
  color:rgba(40, 164, 241, 0.938);  
}
  
/*7*/
.EuLogoKontenerDesktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
}

/*7*/
.EuLogoKontenerDesktopBel{
  /*border: 3px solid green;*/  
}

/*7*/
.EuLogoKontenerDesktopBel img {
 height: 15rem;
} 

}

/*DESKTOP NÉZET ELEJE*/
/*TOOLBAR EGESZ VÉGE*/
/* 7. Larger screen VÉGE*/
    