/* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {

    /*1*/
.FelhoKerdesekEgesz {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 /* border:3px solid green;*/
 position: relative;
 z-index:3004
 /*height: 30rem;*/
}

/*1*/
.FelhoKerdesekKeret {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column-reverse;
  justify-content:center;   
  width:100%;
  margin: 0;
  padding: 0;
 /* border:3px solid red;*/
  position:relative;
  z-index:3004;
  height: 20rem;
}   

/*1*/
.FelhoKerdesekKont {
 display: flex;
 flex-direction: row;
 justify-content:space-around;
 /*Flex-wrap: NEM JELENIK MEG ALOGO SEM AMÍG A TRANSITCIO LE NEM FUT*/
 flex-wrap: wrap;
 /*width:100%;*/
 margin: 0;
 padding: 0;
 /*border:3px solid red;*/
 position:relative;
 z-index:3004;
}

/*FONTOS BEÁLLÍTÁSI HELY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*1*/
.FelhoUjHely {
  display: flex;
  flex-direction: column;
 /* flex-direction: row;*/
 /*FONTOS BEÁLLÍTÁSI HELY*/
  width:7rem;
  /*border: 3px solid purple;*/
  transform: translateY(0%);
  transform: translateX(0%);
  transition: transform 1.2s ease-out;
  /*border:3px solid red;*/
  position:relative;
  z-index:3004;
}

/*1*/
.FelhoKerdesNep {
  display: flex;
  margin:0;
  padding:0;  
  /*border:3px solid green;*/
 transform: translateX(500%);
 transition: transform 0.4s ease-out;
  /*border:3px solid red;*/
  position:relative;
  z-index:3004;
 }

 /*1*/
 .FelhoKerdesBev {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-500%);
 transition: transform 0.4s ease-out;
 }

 /*1*/
 .FelhoKerdesUj {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateX(-500%);
 transition: transform 0.4s ease-out;
 }

/*1*/
.FelhoKerdesek1 {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-200%);
 transition: transform 0.1s ease-out;
 }

/*1*/
.SzovegLogoKont {
  display: flex;     
  justify-content: center;
  width:100%;
  /* border: 3px solid red;*/
}

/*1*/
.NikolicsLogo {
  /*width:70%;*/
 /* height: 16rem;*/
  width:40rem;
 /* border:3px solid red;*/
  margin:0;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
}
  /* 0. Mini SmartPhones VÉGE*/



/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {
   
  /*1*/
.FelhoKerdesekEgesz {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 /* border:3px solid green;*/
 position: relative;
 z-index:3004
 /*height: 30rem;*/
}

/*1*/
.FelhoKerdesekKeret {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column-reverse;
  justify-content:center;   
  width:100%;
  margin: 0;
  padding: 0;
 /* border:3px solid red;*/
  position:relative;
  z-index:3004;
  height: 20rem;
}   

/*1*/
.FelhoKerdesekKont {
 display: flex;
 flex-direction: row;
 justify-content:space-around;
 /*Flex-wrap: NEM JELENIK MEG ALOGO SEM AMÍG A TRANSITCIO LE NEM FUT*/
 flex-wrap: wrap;
 /*width:100%;*/
 margin: 0;
 padding: 0;
 /*border:3px solid red;*/
 position:relative;
 z-index:3004;
}

/*FONTOS BEÁLLÍTÁSI HELY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*1*/
.FelhoUjHely {
  display: flex;
  flex-direction: column;
 /* flex-direction: row;*/
 /*FONTOS BEÁLLÍTÁSI HELY*/
  width:9rem;
  /*border: 3px solid purple;*/
  transform: translateY(0%);
  transform: translateX(0%);
  transition: transform 1.2s ease-out;
  /*border:3px solid red;*/
  position:relative;
  z-index:3004;
}

/*1*/
.FelhoKerdesNep {
  display: flex;
  margin:0;
  padding:0;  
  /*border:3px solid green;*/
 transform: translateX(500%);
 transition: transform 0.4s ease-out;
  /*border:3px solid red;*/
  position:relative;
  z-index:3004;
 }

 /*1*/
 .FelhoKerdesBev {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-500%);
 transition: transform 0.4s ease-out;
 }

 /*1*/
 .FelhoKerdesUj {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateX(-500%);
 transition: transform 0.4s ease-out;
 }

/*1*/
.FelhoKerdesek1 {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-200%);
 transition: transform 0.1s ease-out;
 }

/*1*/
.SzovegLogoKont {
  display: flex;     
  justify-content: center;
  width:100%;
  /* border: 3px solid red;*/
}

/*1*/
.NikolicsLogo {
  /*width:70%;*/
 /* height: 16rem;*/
  width:40rem;
 /* border:3px solid red;*/
  margin:0;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
}

/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
 
  /*2*/
.FelhoKerdesekEgesz {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 /* border:3px solid green;*/
 position: relative;
 z-index:3004
 /*height: 30rem;*/
}

/*2*/
.FelhoKerdesekKeret {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column-reverse;
  justify-content:center;   
  width:100%;
  margin: 0;
  padding: 0;
 /* border:3px solid red;*/
  position:relative;
  z-index:3004;
  height: 20rem;
}   

/*2*/
.FelhoKerdesekKont {
 display: flex;
 flex-direction: row;
 justify-content:space-around;
 /*Flex-wrap: NEM JELENIK MEG ALOGO SEM AMÍG A TRANSITCIO LE NEM FUT*/
 flex-wrap: wrap;
 /*width:100%;*/
 margin: 0;
 padding: 0;
 /*border:3px solid red;*/
 position:relative;
 z-index:3004;
}

/*FONTOS BEÁLLÍTÁSI HELY*/
/*2*/
.FelhoUjHely {
  display: flex;
  flex-direction: column;
 /* flex-direction: row;*/
 /*FONTOS BEÁLLÍTÁSI HELY*/
  width:12rem;
  /*border: 3px solid purple;*/
  transform: translateY(0%);
  transform: translateX(0%);
  transition: transform 1.2s ease-out;
  /*border:3px solid red;*/
  position:relative;
  z-index:3004;
}

/*2*/
.FelhoKerdesNep {
  display: flex;
  margin:0;
  padding:0;  
  /*border:3px solid green;*/
 transform: translateX(500%);
 transition: transform 0.4s ease-out;
  /*border:3px solid red;*/
  position:relative;
  z-index:3004;
 }

 /*2*/
 .FelhoKerdesBev {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-500%);
 transition: transform 0.4s ease-out;
 }

 /*2*/
 .FelhoKerdesUj {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateX(-500%);
 transition: transform 0.4s ease-out;
 }

/*2*/
.FelhoKerdesek1 {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-200%);
 transition: transform 0.1s ease-out;
 }

/*2*/
.SzovegLogoKont {
  display: flex;     
  justify-content: center;
  width:100%;
  /* border: 3px solid red;*/
}

/*2*/
.NikolicsLogo {
  /*width:70%;*/
 /* height: 16rem;*/
  width:40rem;
 /* border:3px solid red;*/
  margin:0;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
}


/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/


/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
 
/*3*/
.FelhoKerdesekEgesz {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*border:3px solid green;*/
  position:relative;
  z-index:3004;
}

/*3*/
.FelhoKerdesekKeret {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column-reverse;
  justify-content:center;   
  width:100%;
  margin: 0;
  padding: 0;
 /* border:3px solid purple;*/
  position:relative;
  z-index:3004;
}   

/*3*/
.FelhoKerdesekKont {
 display: flex;
 flex-direction: row;
 justify-content:space-around;
 /*width:100%;*/
 margin: 0;
 padding: 0;
 /*border:3px solid red;*/
 position:relative;
 z-index:3004;
}

/*3*/
.FelhoUjHely {
   display: flex;
   flex-direction: column;
  /* flex-direction: row;*/
   width:16rem;
   /*border: 3px solid purple;*/
   transform: translateY(0%);
   transform: translateX(0%);
   transition: transform 1.2s ease-out;
   /*border:3px solid red;*/
 position:relative;
 z-index:3004;
}

/*3*/
.FelhoKerdesNep {
  display: flex;
  margin:0;
  padding:0;  
  /*border:3px solid green;*/
 transform: translateX(500%);
 transition: transform 0.4s ease-out;
  /*border:3px solid red;*/
  position:relative;
  z-index:3004;
 }

 /*3*/
 .FelhoKerdesBev {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-500%);
 transition: transform 0.4s ease-out;
 }

 /*3*/
 .FelhoKerdesUj {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateX(-500%);
 transition: transform 0.4s ease-out;
 }

/*3*/
 .FelhoKerdesek1 {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-200%);
 transition: transform 0.1s ease-out;
 }

/*3*/
.SzovegLogoKont {
  display: flex;     
  justify-content: center;
  width:100%;
  /* border: 3px solid red;*/
}

/*3*/
.NikolicsLogo {
  /*width:70%;*/
 /* height: 16rem;*/
  width:40rem;
 /* border:3px solid red;*/
  margin:0;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
}

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/



/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
  /*4*/
  .FelhoKerdesekEgesz {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   /* border:3px solid green;*/
   position: relative;
   z-index: 2000;
  }
  
  /*4*/
  .FelhoKerdesekKeret {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column-reverse;
    justify-content:center;   
    width:100%;
    margin: 0;
    padding: 0;
  /* border:3px solid orange;*/
   position: relative;
   z-index: 200000;
  }   
  
  /*4*/
  .FelhoKerdesekKont {
   display: flex;
   flex-direction: row;
   justify-content:space-around;
   /*width:100%;*/
   margin: 0;
   padding: 0;
   /*border:3px solid red;*/
   position: relative;
   z-index: 2000;
  }
  
  /*4*/
  .FelhoUjHely {
     display: flex;
     flex-direction: column;
    /* flex-direction: row;*/
     width:16rem;
    /* border: 3px solid green;*/
     transform: translateY(0%);
     transform: translateX(0%);
     transition: transform 1.2s ease-out;
     position: relative;
     z-index: 2000;
  }
  
  /*4*/
  .FelhoKerdesNep {
    display: flex;
    margin:0;
    padding:0;  
    /*border:3px solid green;*/
   transform: translateX(500%);
   transition: transform 0.4s ease-out;
   position: relative;
   z-index: 2000;
   }
  
   /*4*/
   .FelhoKerdesBev {
    display: flex;
    margin:0;
    padding:0;  
   /* border:3px solid green;*/
   transform: translateY(-500%);
   transition: transform 0.4s ease-out;
   position: relative;
   z-index: 2000;
   }
  
   /*4*/
   .FelhoKerdesUj {
    display: flex;
    margin:0;
    padding:0;  
   /* border:3px solid green;*/
   transform: translateX(-500%);
   transition: transform 0.4s ease-out;
   position: relative;
   z-index: 2000;
   }
  
  /*4*/
   .FelhoKerdesek1 {
    display: flex;
    margin:0;
    padding:0;  
   /* border:3px solid green;*/
   transform: translateY(-200%);
   transition: transform 0.1s ease-out;
   position: relative;
   z-index: 2000;
   }
  
  /*4*/
  .SzovegLogoKont {
    display: flex;     
    justify-content: center;
    width:100%;
    /* border: 3px solid red;*/
  }
  
  /*4*/
  .NikolicsLogo {
    /*width:70%;*/
   /* height: 16rem;*/
    width:40rem;
   /* border:3px solid red;*/
    margin:0;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  /*kiegészítés*/
  .stilus2 {
    display: none;
  }
}
/* 4. Tablets, Ipads (landscape) VÉGE*/


/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {

  /*5*/
 .FelhoKerdesekEgesz {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 /* border:3px solid green;*/
}

/*5*/
.FelhoKerdesekKeret {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column-reverse;
  justify-content:center;   
  width:100%;
  margin: 0;
  padding: 0;
 /*border:3px solid red;*/
}   

/*5*/
.FelhoKerdesekKont {
 display: flex;
 flex-direction: row;
 justify-content:space-around;
 /*width:100%;*/
 margin: 0;
 padding: 0;
 /*border:3px solid red;*/
}

/*5*/
.FelhoUjHely {
   display: flex;
   flex-direction: column;
  /* flex-direction: row;*/
   width:20rem;
  /* border: 3px solid green;*/
   transform: translateY(0%);
   transform: translateX(0%);
   transition: transform 1.2s ease-out;
}

/*5*/
.FelhoKerdesNep {
  display: flex;
  margin:0;
  padding:0;  
  /*border:3px solid green;*/
 transform: translateX(500%);
 transition: transform 0.4s ease-out;
 }

 /*5*/
 .FelhoKerdesBev {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-500%);
 transition: transform 0.4s ease-out;
 }

 /*5*/
 .FelhoKerdesUj {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateX(-500%);
 transition: transform 0.4s ease-out;
 }

/*5*/
 .FelhoKerdesek1 {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-200%);
 transition: transform 0.1s ease-out;
 }

/*5*/
.SzovegLogoKont {
  display: flex;     
  justify-content: center;
  width:100%;
  /* border: 3px solid red;*/
}

/*5*/
.NikolicsLogo {
  /*width:70%;*/
 /* height: 16rem;*/
  width:40rem;
 /* border:3px solid red;*/
  margin:0;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
 
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width: 1599px) {

 /*6*/
 .FelhoKerdesekEgesz {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 /* border:3px solid green;*/
}

/*6*/
.FelhoKerdesekKeret {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column-reverse;
  justify-content:center;   
  width:100%;
  margin: 0;
  padding: 0;
/* border:3px solid red;*/
}   

/*6*/
.FelhoKerdesekKont {
 display: flex;
 flex-direction: row;
 justify-content:space-around;
 /*width:100%;*/
 margin: 0;
 padding: 0;
 /*border:3px solid red;*/
}

/*6*/
.FelhoUjHely {
   display: flex;
   flex-direction: column;
  /* flex-direction: row;*/
   width:25rem;
  /* border: 30px solid green;*/
   transform: translateY(0%);
   transform: translateX(0%);
   transition: transform 1.2s ease-out;
}

/*6*/
.FelhoKerdesNep {
  display: flex;
  margin:0;
  padding:0;  
  /*border:3px solid green;*/
 transform: translateX(500%);
 transition: transform 0.4s ease-out;
 }

 /*6*/
 .FelhoKerdesBev {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-500%);
 transition: transform 0.4s ease-out;
 }

 /*6*/
 .FelhoKerdesUj {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateX(-500%);
 transition: transform 0.4s ease-out;
 }

/*6*/
 .FelhoKerdesek1 {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-200%);
 transition: transform 0.1s ease-out;
 }

/*6*/
.SzovegLogoKont {
  display: flex;     
  justify-content: center;
  width:100%;
  /* border: 3px solid red;*/
}

/*6*/
.NikolicsLogo {
  /*width:70%;*/
 /* height: 16rem;*/
  width:40rem;
 /* border:3px solid red;*/
  margin:0;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
  
}
/* 6. Higher resolution desktops VÉGE*/

/*7. Larger screen ELEJE*/

@media (min-width: 1600px) {

  /*7*/
.FelhoKerdesekEgesz {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 /* border:3px solid green;*/
}

/*7*/
.FelhoKerdesekKeret {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column-reverse;
  justify-content:center;   
  width:100%;
  margin: 0;
  padding: 0;
/* border:3px solid red;*/
}   



/*7*/
.FelhoKerdesekKont {
 display: flex;
 flex-direction: row;
 justify-content:space-around;
 /*width:100%;*/
 margin: 0;
 padding: 0;
 /*border:3px solid red;*/
}

/*7*/
.FelhoUjHely{
   display: flex;
   flex-direction: column;
  /* flex-direction: row;*/
   width:30rem;
   /*border: 3px solid green;*/
   transform: translateY(0%);
   transform: translateX(0%);
   transition: transform 1.2s ease-out;
}


.FelhoKerdesNep {
  display: flex;
  margin:0;
  padding:0;  
  /*border:3px solid green;*/
 transform: translateX(500%);
 transition: transform 0.4s ease-out;
 }

 .FelhoKerdesBev {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-500%);
 transition: transform 0.4s ease-out;

 }

 .FelhoKerdesUj {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateX(-500%);
 transition: transform 0.4s ease-out;
 }


 .FelhoKerdesek1 {
  display: flex;
  margin:0;
  padding:0;  
 /* border:3px solid green;*/
 transform: translateY(-200%);
 transition: transform 0.1s ease-out;
 }


/*7*/
.SzovegLogoKont {
  display: flex;     
  justify-content: center;
  width:100%;
  /* border: 3px solid red;*/
}
/*7*/
.NikolicsLogo {
  /*width:70%;*/
 /* height: 16rem;*/
  width:40rem;
 /* border:3px solid red;*/
  margin:0;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
}
/*7. Larger screen VÉGE*/

