
/* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {
  
  /*0*/
  .AjanlasEgesz {
     display: flex;
     flex-direction: column;
     border-top: 1px solid rgba(40, 164, 241, 0.938); 
     border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
     padding:1%;
   }
 
    /*0*/
   .AjanlasCim {       
     display: flex;
     justify-content: center;
     text-align: center;
     font-size: 1.5rem;    
     font-weight: 900;  
    /* border: 3px solid purple; */
   }
 
    /*0*/
   .AjanlasKontener {
     display:flex;
     flex-direction: column;
    /* padding: 10%;*/
     padding:0%;
     padding-top: 3%;  
   }
 
    /*0*/
   .AjanlasSzoveguj {
     padding: 2%;
     margin: 0;
     width:100%;
     min-width: 50%;
     font-size: 0.8rem;
     line-height: 0.8rem;
     /* padding:1%;*/
     /*padding:1%;*/
   }
 
    /*0*/
   .AjanlasSzoveguj ul {
     padding:2%;
     padding-left: 15%;
     list-style-type: circle;
   }

    /*0*/
   .AjanlasKep {
     min-width:50%;
     max-height: 30rem;
   }
 
    /*0*/
   .AjanlasKep img { 
   min-width:50%;
   max-height: 30rem;
   }  
 
    /*0*/
   .AjanlomGomb {
    display: flex;
    justify-content: center; 
    height: 3rem;
    padding-top: 1rem;
  /*  border: 3px solid purple;*/
  }
 
   /*0*/
   .AjanlomGomb2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   width:10rem;
   height: 2rem;
   font-size: 1.2rem;  
   border-radius: 3px;  
   background-color: rgba(40, 164, 241, 0.938);
 }
 
  /*0*/
 .AjanlomGomb2 h1 {
  color:white;
 }

  /*0*/
 .AjanlomGomb2:hover { 
  background-color:red;
 }

  /*0*/
 .AjanlomGomb2 a { 
  text-decoration: none;
 }
 }

/* 0. Mini SmartPhones VÉGE*/

/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {
 
  /*1*/
  .AjanlasEgesz {
    /* border: 3px solid blue;*/
     display: flex;
     flex-direction: column;
     border-top: 1px solid rgba(40, 164, 241, 0.938); 
     border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
     padding:1%;
   }
 
   /*1*/
   .AjanlasCim {       
     display: flex;
     justify-content: center;
     text-align: center;
     font-size: 1.6rem; 
     font-weight: 900;     
    /* border: 3px solid purple; */
   }
 
   /*1*/
   .AjanlasKontener {
     display:flex;
     flex-direction: column;
    /* padding: 10%;*/
     padding:0%;
     padding-top: 3%;  
   }
 
    /*1*/
   .AjanlasSzoveguj {
     padding: 2%;
     margin: 0;
     width:100%;
     min-width: 50%;
     font-size: 1.2rem;
     line-height: 1.5rem;
     /* padding:1%;*/
     /*padding:1%;*/
   }
 
    /*1*/
   .AjanlasSzoveguj ul {
     padding:2%;
     padding-left: 5%;
     list-style-type: circle;
   }

    /*1*/
  .AjanlasKep {
     min-width:50%;
     max-height: 30rem;
   }
 
    /*1*/
  .AjanlasKep img {  
   min-width:50%;
   max-height: 30rem;
 }  
 
  /*1*/
 .AjanlomGomb {
    display: flex;
    justify-content: center; 
    height: 5rem;
    padding-top: 1rem;
  /* border: 3px solid purple;*/
  }
 
   /*1*/
 .AjanlomGomb2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   width:14rem;
   height: 3rem;
   font-size: 2rem;
   border-radius: 3px;  
   background-color: rgba(40, 164, 241, 0.938);
 }
 
  /*1*/
 .AjanlomGomb2 h1 {
  color:white;
 }

  /*1*/
 .AjanlomGomb2:hover { 
  background-color:red;
 }

  /*1*/
 .AjanlomGomb2 a { 
  text-decoration: none;
}
}

/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
  
  /*2*/
  .AjanlasEgesz {
    /* border: 3px solid blue;*/
     display: flex;
     flex-direction: column;
     border-top: 1px solid rgba(40, 164, 241, 0.938); 
     border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
     padding:1%;
   }
 
   /*2*/
   .AjanlasCim {       
     display: flex;
     justify-content: center;
     text-align: center;
     font-size: 2rem;   
     font-weight: 900;   
    /* border: 3px solid purple; */
   }
 
   /*2*/
   .AjanlasKontener {
     display:flex;
     flex-direction: column;
    /* padding: 10%;*/
     padding:0%;
     padding-top: 3%;  
   }
 
   /*2*/
   .AjanlasSzoveguj {  
     width:100%;
     min-width: 50%;
     font-size: 1.2rem;
     line-height: 1.5rem; 
     padding: 2%;
     margin: 0;
     /* padding:1%;*/
     /*padding:1%;*/
   }
 
   /*2*/
   .AjanlasSzoveguj ul {
     padding:2%;
     padding-left: 5%;
     list-style-type: circle;
   }

   /*2*/
   .AjanlasKep {
     min-width:50%;
     max-height: 30rem;
   }
 
   /*2*/
  .AjanlasKep img {
   min-width:50%;
   max-height: 30rem;
  }  
 
  /*2*/
  .AjanlomGomb {
    display: flex;
    justify-content: center; 
    margin-top:2rem;
    height: 5rem;
  /*  border: 3px solid purple;*/
  }
 
  /*2*/
   .AjanlomGomb2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   width:14rem;
   height: 3rem;
   font-size: 2rem;  
   border-radius: 3px;  
   background-color: rgba(40, 164, 241, 0.938);
  }
 
  /*2*/
  .AjanlomGomb2 h1{
   color:white;
  }

  /*2*/
  .AjanlomGomb2:hover { 
  background-color:red;
  }

  /*2*/
 .AjanlomGomb2 a { 
  text-decoration: none;
 }
}


/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/



/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
  /*3*/
  .AjanlasEgesz {
    /* border: 3px solid blue;*/
     display: flex;
     flex-direction: column;
     border-top: 1px solid rgba(40, 164, 241, 0.938); 
     border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
     padding:2%;
   }
 
    /*3*/
   .AjanlasCim {       
     display: flex;
     justify-content: center;
     text-align: center;
     font-size: 2.2rem;  
     font-weight: 900;    
    /* border: 3px solid purple; */
   }
 
   /*3*/
   .AjanlasKontener {
     display:flex;
     flex-direction: column;
    /* padding: 10%;*/
     padding:0%;
     padding-top: 3%;  
    /* border: 3px solid red;*/
   }
 
   /*3*/
   .AjanlasSzoveguj {
    /*padding-left:5%;
    padding-right:5%;*/
     margin: 0;
     width:100%;
     min-width: 50%;
     font-size: 1.5rem;
     line-height: 1.7rem;
     /* padding:1%;*/
     /*padding:1%;*/
   }
 
   /*3*/
   .AjanlasSzoveguj ul {
     padding:2%;
     padding-left: 5%;
     list-style-type: circle;
   }

   /*3*/
   .AjanlasKep {
     margin: 0 auto;
     min-width:80%;
     padding-top: 1%;
    /* padding-left:5%;
     padding-right:5%;*/
    /* max-height: 30rem;*/
   }
 
   /*3*/
  .AjanlasKep img {
   /*min-width:80%;*/
   width:100%;
  /* border: 3px solid purple;*/
  /* padding:3%*/
  /* max-height: 30rem;*/
  }  
 
  /*3*/
 .AjanlomGomb {
    display: flex;
    justify-content: center; 
    margin-top:2rem;
    height: 5rem;
  /* border: 3px solid purple;*/
  }
 
  /*3*/
  .AjanlomGomb2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   width:14rem;
   height: 3rem;
   font-size: 2rem; 
   border-radius: 3px;  
   background-color: rgba(40, 164, 241, 0.938);
 }
 
 /*3*/
 .AjanlomGomb2 h1 {
  color:white;
  }

  /*3*/
 .AjanlomGomb2:hover { 
  background-color:red;
 }

 /*3*/
 .AjanlomGomb2 a { 
  text-decoration: none;
 }

}

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/

/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /*4*/
  .AjanlasEgesz {
   /* border: 3px solid blue;*/
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(40, 164, 241, 0.938); 
    border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
    padding:1%;
  }

  /*4*/
  .AjanlasCim {       
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;      
    /*border: 3px solid purple; */ 
  }

  /*4*/
  .AjanlasKontener {
    display:flex;
    flex-direction: row;
   /* padding: 10%;*/
    padding:0%;
    padding-top: 3%;  
  }

  /*4*/
  .AjanlasSzoveguj {
    padding: 0;
    margin: 0;
    width:50%;
    min-width: 50%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    /* padding:1%;*/
    /*padding:1%;*/
  }

  /*4*/
  .AjanlasSzoveguj ul {
    padding:2%;
    padding-left: 5%;
    list-style-type: circle;
  }

  /*4*/
  .AjanlasKep {
    min-width:50%;
    max-height: 30rem;
  }

  /*4*/
  .AjanlasKep img{
  min-width:50%;
  max-height: 30rem;
  }  

  /*4*/
  .AjanlomGomb {
   display: flex;
   justify-content: center; 
   margin-top:2rem;
   height: 4rem;
 /*  border: 3px solid purple;*/
 }

 /*4*/
  .AjanlomGomb2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width:11rem;
  height: 2.5rem;
  font-size: 1.5rem; 
  border-radius: 3px;  
  background-color: rgba(40, 164, 241, 0.938);
}

/*4*/
.AjanlomGomb2 h1{
 color:white;
}

/*4*/
.AjanlomGomb2:hover { 
  background-color:red;
}

/*4*/
.AjanlomGomb2 a { 
  text-decoration: none;
}
}
/* 4. Tablets, Ipads (landscape) VÉGE*/


/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {
 
  /*5*/
  .AjanlasEgesz {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(40, 164, 241, 0.938); 
    border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
    padding:1%;
  }

  /*5*/
  .AjanlasCim {       
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 900;     
  }

  /*5*/
  .AjanlasKontener {
    display:flex;
    padding: 1%;
    padding-top: 5%;
  }

  /*5*/
  .AjanlasSzoveguj {
    font-size: 1.5rem;
    line-height: 1.5rem;  
   /* padding:1%;*/
    /*padding:1%;*/
  }

  /*5*/
  .AjanlasSzoveguj ul {
    padding:5%;
    list-style-type: circle;
  }

  /*5*/
  .AjanlasSzoveguj li {
    padding:2%;  
      
  }

  /*5*/
  .AjanlasKep {
      min-width:50%;
      max-height: 30rem;
  }

  /*5*/
  .AjanlasKep img {
    min-width:50%;
    max-height: 30rem;
 }  

 /*5*/
  .AjanlomGomb {
   display: flex;
   justify-content: center; 
   margin-top:2rem;
   height: 5rem;
   /* border: 3px solid purple;*/
 }

 /*5*/
  .AjanlomGomb2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width:14rem;
  height: 3rem;
  font-size: 2rem;  
  border-radius: 3px;  
  background-color: rgba(40, 164, 241, 0.938);
}

/*5*/
.AjanlomGomb2 h1 {
 color:white;
}

/*5*/
.AjanlomGomb2:hover { 
  background-color:red;
}

/*5*/
.AjanlomGomb2 a { 
  text-decoration: none;
}  
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width: 1599px) {
   /*6*/
  .AjanlasEgesz {
        /*border: 3px solid red;*/
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgba(40, 164, 241, 0.938); 
        border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
        padding:1%;
      }
    
     /*6*/
   .AjanlasCim {       
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 3rem;  
        font-weight: 900;      
    }
   
    /*6*/
   .AjanlasKontener {
        display:flex;
        padding: 1%;
        padding-top: 5%;
    }
    
      /*6*/
    .AjanlasSzoveguj {
        font-size: 1.5rem;
        line-height: 2rem;  
        padding:1%;
        /*padding:1%;*/
    }
    
      /*6*/
    .AjanlasSzoveguj ul {
        padding:5%;
        list-style-type: circle;
      }
    
     /*6*/
    .AjanlasSzoveguj li {
        padding:2%;            
      }
    
        /*6*/
     .AjanlasKep {
          min-width:50%;
          max-height: 30rem;
      }

    /*6*/
      .AjanlasKep img{
        min-width:50%;
        max-height: 30rem;
     }  

       /*6*/
    .AjanlomGomb {
       display: flex;
       justify-content: center; 
       margin-top:2rem;
        height: 5rem;
       /* border: 3px solid purple;*/
     }
    
       /*6*/
    .AjanlomGomb2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      width:14rem;
      height: 3rem;
      font-size: 2rem;
      border-radius: 3px;  
      background-color: rgba(40, 164, 241, 0.938);
    }
    
      /*6*/
    .AjanlomGomb2 h1{
     color:white;
    }

      /*6*/
    .AjanlomGomb2:hover { 
      background-color:red;
    }

      /*6*/
    .AjanlomGomb2 a { 
      text-decoration: none;
    }
  
}

/* 6. Higher resolution desktops VÉGE*/


/* 7. Larger screen ELEJE*/

@media (min-width: 1600px) {

  .AjanlasEgesz {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(40, 164, 241, 0.938); 
    border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
    padding:1%;
  }

  .AjanlasCim {   
    display: flex;
    justify-content: center;
    font-size: 4rem; 
    font-weight: 900;   
  }

  .AjanlasKontener {
    display:flex;
    padding: 2%;
    padding-top: 5%;
  }

  .AjanlasSzoveguj {
    max-height: 1rem;
    font-size: 2rem;
    line-height: 3rem;
    /*padding:1%;*/
  }

  .AjanlasSzoveguj ul {
    padding:4%;
    list-style-type: circle;
    padding-bottom: 2%;
  }

  .AjanlasSzoveguj li {
    padding:1%;   
  }

  .AjanlasKep {
      min-width:50%;
      max-height: 40rem;
  }

  .AjanlasKep img {
    min-width:50%;
    max-height: 40rem;
}

.AjanlomGomb {
  display: flex;
  justify-content: center; 
  margin-top:2rem;
  height: 5rem;
 /* border: 3px solid purple;*/
 }

.AjanlomGomb2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:14rem;
  height: 3rem;
  font-size: 2rem;
  justify-content: center; 
 /* margin:2rem;*/  
  border-radius: 3px;  
 /* border:3px solid red;*/
  background-color: rgba(40, 164, 241, 0.938);
}

.AjanlomGomb2 h1 {
 color:white;
}

.AjanlomGomb2:hover { 
  background-color:red;
}

.AjanlomGomb2 a { 
  text-decoration: none;
}

}

/* 7. Larger screen VÉGE*/













