


/* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {
    .CsomagokEgesz{
        /* border: 3px dashed black;*/
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          /*padding:1%;
          margin:1%;*/
          flex-grow: 1;
          width:100%;
          padding:0;
          margin:0;
      }
      
      .CsomagDoboz{
          /* margin:1%;*/
          margin-bottom:15%;
         /* border: 3px solid red;*/
         /* max-width:30rem;*/
         width:75%;
      } 

      .CsomagokEgeszInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
      /* border: 3px solid red;*/
       }
       
    .CsomagokEgeszInfo img {
           width:2.5rem;
       }

    .CsomagokEgeszInfo2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        /*border: 3px solid blue;*/
       }

    .CsomagokEgeszKulso h2 {
        padding-top: 2rem;
        text-align: center;
        font-size: 2rem;
        margin-bottom:0;
        font-weight: 900; 
    }

    .CsomagokEgeszKulso p {
        text-align: center;
    }


}

/* 0. Mini SmartPhones VÉGE*/


/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {
    .CsomagokEgesz{
         /* border: 3px dashed black;*/
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          /*padding:1%;
          margin:1%;*/
        /*  flex-grow: 1;*/
          width:100%;
          padding:0;
          margin:0;
      }
      
      .CsomagDoboz {          
          /* margin:1%;*/
          margin-bottom:15%;
        /* border: 3px solid red;*/
         /* max-width:30rem;*/
         width:85%;
      } 

      .CsomagokEgeszInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
      /* border: 3px solid red;*/
       }
       
    .CsomagokEgeszInfo img {
           width:2.5rem;
       }

    .CsomagokEgeszInfo2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        /*border: 3px solid blue;*/
       }
    
      .CsomagokEgeszKulso h2 {
        padding-top: 2rem;
        text-align: center;
        font-size: 1.6rem;
        margin-bottom:0;
        font-weight: 900; 
    }

    .CsomagokEgeszKulso p {
        text-align: center;
        padding-top: 0.5rem;
        font-size: 1.2rem;
    }

    .CsomagokEgeszInfo2 p {
        padding-top:0rem;
        font-size: 1.5rem;
       /* border: 30px solid green;
        color:red;*/
    }
    
  }

/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
  
    .CsomagokEgesz{
        /* border: 3px dashed black;*/
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          /*padding:1%;
          margin:1%;*/
          flex-grow: 1;
          width:100%;
          padding:0;
          margin:0;
      }
      
      .CsomagDoboz{
          /* margin:1%;*/
          margin-bottom:15%;
         /* border: 3px solid red;*/
         /* max-width:30rem;*/
         width:65%;
      } 

      .CsomagokEgeszInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
       /* border: 3px solid red;*/
       }
       
    .CsomagokEgeszInfo img {
           width:3rem;
       }

    .CsomagokEgeszInfo2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        /*border: 3px solid blue;*/
       }

      .CsomagokEgeszKulso h2 {
        padding-top: 2rem;
        text-align: center;
        font-size: 1.7rem;
        margin-bottom:0;
        font-weight: 900; 
        }

     .CsomagokEgeszKulso p {
        text-align: center;
        padding-top: 0.5rem;
        font-size: 1.2rem;
        }

     .CsomagokEgeszInfo2 p {
        padding-top:0rem;
        font-size: 1.5rem;
           /* border: 30px solid green;
            color:red;*/
     }
}


/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/


/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
    
    .CsomagokEgesz{
      /* border: 3px dashed black;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*padding:1%;
        margin:1%;*/
        flex-grow: 1;
        width:100%;
        padding:0;
        margin:0;
    }
    
    .CsomagDoboz{
        /* margin:1%;*/
        margin-bottom:5%;
       /* border: 3px solid red;*/
       /* max-width:30rem;*/
       width:65%;
    }

    .CsomagokEgeszInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
       /* border: 3px solid red;*/
        padding-top:1rem;
       }
       
    .CsomagokEgeszInfo img {
           width:3rem;
       }

    .CsomagokEgeszInfo2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      /*  padding-top: 1rem;*/
       /* border: 3px solid blue;*/
        padding-top:0rem;
       }
  
    .CsomagokEgeszKulso h2 {
        padding-top: 2rem;
        text-align: center;
        font-size: 2.2rem;
        margin-bottom:0;
        font-weight: 900; 
        }

     .CsomagokEgeszKulso p {
        text-align: center;
        padding-top: 0.8rem;
        font-size: 1.8rem;
        }

        .CsomagokEgeszInfo2 p {
            padding-top:0rem;
           /* border: 30px solid green;
            color:red;*/
        }
  }

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/

/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
    .CsomagokEgesz{
        /*border: 3px dashed black;*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        /*padding:1%;
        margin:1%;*/
        flex-grow: 1;
        width:100%;
        padding:0;
        margin:0;
    }
    
    .CsomagDoboz{
       padding:0.5%;
       /* margin:1%;*/
        margin-bottom:5%;
        /*border: 3px solid orange;*/
       /* max-width:30rem;*/
       width:33%;
    }

    .CsomagokEgeszInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
      /* border: 3px solid red;*/
       }
       
    .CsomagokEgeszInfo img {
           width:3rem;
       }

    .CsomagokEgeszInfo2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        /*border: 3px solid blue;*/
       }
    
    .CsomagokEgeszKulso h2 {
        padding-top: 2rem;
        text-align: center;
        font-size: 2rem;
        margin-bottom:1rem;
        font-weight: 900; 
    }

     .CsomagokEgeszKulso p {
        text-align: center;
        font-size: 1.5rem;
        padding-top: 0;
    }
 
}
/* 4. Tablets, Ipads (landscape) VÉGE*/


/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {
  
    .CsomagokEgesz{
        /*border: 3px dashed black;*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        /*padding:1%;
        margin:1%;*/
        flex-grow: 1;
        width:100%;
        padding:0;
        margin:0;
    }
    
    .CsomagDoboz {
       padding:1%;
       /* margin:1%;*/
       margin-bottom:5%;
       /* border: 3px solid red;*/
       /* max-width:30rem;*/
       width:33%;
    }

    .CsomagokEgeszInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
       /* border: 3px solid red;*/
       }
       
       .CsomagokEgeszInfo img {
           width:3rem;
       }

       .CsomagokEgeszInfo2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        /*border: 3px solid blue;*/
       }

    .CsomagokEgeszKulso h2 {
        padding-top: 5rem;
        text-align: center;
        font-size: 2.2rem;
        margin-bottom:1rem;
        font-weight: 900; 
     
    }

     .CsomagokEgeszKulso p {
        text-align: center;
        font-size: 1.5rem;
        }
  
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width: 1599px) {
  
    .CsomagokEgesz {
        /*border: 3px dashed black;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*padding:1%;
        margin:1%;*/
        flex-grow: 1;
        width:100%;
        padding:0;
        margin:0;
    }
    
    .CsomagDoboz {
        padding:2%;
       /* margin:1%;*/
     /*   margin-bottom:15%;*/
       /* border: 3px solid red;*/
       /* max-width:30rem;*/
       width:100%;
    }

    .CsomagokEgeszInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
       /* border: 3px solid red;*/
       }
       
       .CsomagokEgeszInfo img {
           width:4rem;
       }

       .CsomagokEgeszInfo2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        /*border: 3px solid blue;*/
       }
 
    .CsomagokEgeszKulso h2 {
        padding-top: 5rem;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom:2rem;
        font-weight: 900; 
     }

     .CsomagokEgeszKulso p {
        text-align: center;
        font-size: 1.5rem;
        }
  
}

/* 6. Higher resolution desktops VÉGE*/


/* 7. Larger screen ELEJE*/

@media (min-width: 1600px) {

    .CsomagokEgesz{
          /* border: 3px dashed black;*/
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           /*padding:1%;
           margin:1%;*/
           flex-grow: 1;
           width:100%;
           padding:0;
           margin:0;
       }
       
       .CsomagDoboz{
           padding:2%;
          /* margin:1%;*/
          /* margin-bottom:15%;*/
          /* border: 3px solid red;*/
          /* max-width:30rem;*/
          width:100%;
       }

       .CsomagokEgeszInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
       /* border: 3px solid red;*/
       }
       
       .CsomagokEgeszInfo img {
           width:4rem;
       }

       .CsomagokEgeszInfo2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        /*border: 3px solid blue;*/
       }

       .CsomagokEgeszKulso h2 {
        padding-top: 5rem;
        text-align: center;
        font-size: 4rem;
        margin-bottom:1.5rem;
        font-weight: 900; 
        }

     .CsomagokEgeszKulso p {
        text-align: center;
        font-size: 2rem;
        }
        
        .CsomagokEgeszKulso  {
           
            text-align: center
        };
}

/* 7. Larger screen VÉGE*/