


/* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {
    .Csomagok_egesz{
        /* border: 3px dashed black;*/
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          /*padding:1%;
          margin:1%;*/
          flex-grow: 1;
          width:100%;
          padding:0;
          margin:0;
      }
      
      .Csomag_doboz{
          /* margin:1%;*/
          margin-bottom:15%;
         /* border: 3px solid red;*/
         /* max-width:30rem;*/
         width:75%;
      } 



}

/* 0. Mini SmartPhones VÉGE*/






/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {
    .Csomagok_egesz{
        /* border: 3px dashed black;*/
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          /*padding:1%;
          margin:1%;*/
          flex-grow: 1;
          width:100%;
          padding:0;
          margin:0;
      }
      
      .Csomag_doboz{
          
          /* margin:1%;*/
          margin-bottom:15%;
         /* border: 3px solid red;*/
         /* max-width:30rem;*/
         width:85%;
      } 
    
    
  }

/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
  
    .Csomagok_egesz{
        /* border: 3px dashed black;*/
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          /*padding:1%;
          margin:1%;*/
          flex-grow: 1;
          width:100%;
          padding:0;
          margin:0;
      }
      
      .Csomag_doboz{
          /* margin:1%;*/
          margin-bottom:15%;
         /* border: 3px solid red;*/
         /* max-width:30rem;*/
         width:65%;
      } 
}


/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/


/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
    
    .Csomagok_egesz{
      /* border: 3px dashed black;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*padding:1%;
        margin:1%;*/
        flex-grow: 1;
        width:100%;
        padding:0;
        margin:0;
    }
    
    .Csomag_doboz{
        /* margin:1%;*/
        margin-bottom:15%;
       /* border: 3px solid red;*/
       /* max-width:30rem;*/
       width:65%;
    }
  }

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/

/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
    .Csomagok_egesz{
        /*border: 3px dashed black;*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        /*padding:1%;
        margin:1%;*/
        flex-grow: 1;
        width:100%;
        padding:0;
        margin:0;
    }
    
    .Csomag_doboz{
       padding:0.5%;
       /* margin:1%;*/
        margin-bottom:15%;
        /*border: 3px solid orange;*/
       /* max-width:30rem;*/
       width:33%;
    }
 
}
/* 4. Tablets, Ipads (landscape) VÉGE*/


/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {
  
    .Csomagok_egesz{
        /*border: 3px dashed black;*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        /*padding:1%;
        margin:1%;*/
        flex-grow: 1;
        width:100%;
        padding:0;
        margin:0;
    }
    
    .Csomag_doboz{
       padding:1%;
       /* margin:1%;*/
        margin-bottom:15%;
       /* border: 3px solid red;*/
       /* max-width:30rem;*/
       width:100%;
    }
  
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width: 1599px) {
  
    .Csomagok_egesz{
        /*border: 3px dashed black;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*padding:1%;
        margin:1%;*/
        flex-grow: 1;
        width:100%;
        padding:0;
        margin:0;
    }
    
    .Csomag_doboz{
        padding:2%;
       /* margin:1%;*/
        margin-bottom:15%;
       /* border: 3px solid red;*/
       /* max-width:30rem;*/
       width:100%;
    }
 
  
}

/* 6. Higher resolution desktops VÉGE*/


/* 7. Larger screen ELEJE*/

@media (min-width: 1600px) {

    .Csomagok_egesz{
          /* border: 3px dashed black;*/
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           /*padding:1%;
           margin:1%;*/
           flex-grow: 1;
           width:100%;
           padding:0;
           margin:0;
       }
       
       .Csomag_doboz{
           padding:2%;
          /* margin:1%;*/
           margin-bottom:15%;
          /* border: 3px solid red;*/
          /* max-width:30rem;*/
          width:100%;
       }
}

/* 7. Larger screen VÉGE*/