
  /* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {
  .SideEgesz {
    display: flex;
    flex-direction: column;
    min-width:100%;
  }

  .SideDrawerNyit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 100%;*/
    width: 75%;
    background: white;     
    position: relative;
    z-index: 30000;
    /*position: absolute;*/  /*SAFARI LEHET EZ NEM MINDEGY NEKI*/
    /*top: 4rem;*/
    /*EZ RONTOTTA EL A SAFARIT!!!!!!!!!!!!!!!!!!!!!!*/
   /* left: 0;      */ 
    opacity:0.9;
    /*Itt a megoldás- alacsonybnak kell 
    lennie mint minden más kivéve a backdrop*/
    /*FONTOS HA A PARENT ELEMNT ALACSONYABB Z INDEXEN VAN  MINT AMIT
    KI AKAROK TAKARNI A CHILDET HIÁBA TESZEM MAGASBRA*/
    z-index: 2860;
    transform: translateX(0);
    transition: transform 0.4s ease-out;
    border: 3px solid rgba(40, 164, 241, 0.938);
    padding-top: 1rem;
    color:rgba(40, 164, 241, 0.938);
  }

  .SideDrawerNyit p {
     /*EGYEDI KÉSZÍTÉSŰ*/
   }

   /*FORDÍTVA VAN AZ ELSŐ ÍRJA FELÜL AZ UTOLSÓT KÉSŐBB NEM LEHET FELÜLÍRNI!!!
    CSAK ID -VAL!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    AZ ID -T VISZONT MINDEN EGYES ELEMHEZ KÜLÖN HOZZÁ KELL ADNI!!!!!!!!!!!!!
    KÜLÖN LI ÉS UL ÉS NAVLINK AHHOZ HOGY HASSON*/
   .SideDrawerNyit ul {
   /* background-color: red;*/
  /* border-top: 1px dashed rgba(40, 164, 241, 0.938);
   border-bottom: 1px dashed rgba(40, 164, 241, 0.938);   */
    /*background-color: black;  */
   }

  .SideDrawerNyit li {
    display: flex;
    padding: 0.5rem;
    width:100%;
    color:rgba(40, 164, 241, 0.938);
  }

  /*A linkek a divben lévő osztályokból erednek, nem olyanok mint a li-k*/
  .SideDrawerNyit a {     
    color:rgba(40, 164, 241, 0.938);  
    /*border: 3px solid red; */ 
  }

  .SideDrawerZar { 
    transform: translateX(-1000%);
    transition: transform 0.3s ease-out;
    /*visibility: hidden;*/
  } 

  .WebarakNyit p{
    color: black;
    font-weight: 900;
  }

  #lenyiloelejeid {
  /* border-top: 1px dashed rgba(40, 164, 241, 0.938);*/
  border-top: 1px dashed black;
  }

  #lenyilovegeid {
  /*  border-bottom: 1px dashed rgba(40, 164, 241, 0.938); */
  border-bottom: 1px dashed black;
   }

  .WebarakNyit li {
    color:rgba(40, 164, 241, 0.938);
    padding-left: 1.5rem;    
  }

  .WebarakZar {
    display: none;
  }
  .WebarakZar li{
    display: none;
  }

  .NyiloMenu {
    display: flex;
  }

  .SeoNyit {
   /* display: flex;
    flex-direction: column;
    border-top: 1px dashed rgba(40, 164, 241, 0.938);
    border-bottom: 1px dashed rgba(40, 164, 241, 0.938);   
    background-color: black;  */
  }

  .SeoNyit li {
   /* padding-left: 1.5rem;*/
    /*border:3px solid red;*/
    padding-left: 1.5rem;
  }

  .SeoNyit ul {
    border:3px solid green;
  }

  .SeoZar {
    display: none;
   /* border:3px solid green;*/
  }

  .SideBezarkont {
    display: flex;    
    justify-content: flex-end;      
  }

  .SideBezar {   
    width:5rem;
    margin-top:2%;
    padding:1%;
    text-align: center;
    /*color:  rgba(40, 164, 241, 0.938);*/
    color:black;
    border-top:2px solid black;
    border-left:2px solid black;
    border:2px solid black;
    /*font-family: serif;*/
   /* background-color: black;*/
    font-size: 1rem;
  }



}

/* 0. Mini SmartPhones VÉGE*/
  
  /* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
  @media (min-width: 320px) and (max-width: 480px) {
    /*1*/
    .SafariIgeny{
      display: flex;
      flex-direction: column;
     /* border:3px dashed blue;*/
      /*justify-content: flex-start;
     align-items: flex-start;
     align-content: flex-start;
     position: relative;*/
    }
    
    /*1*/
    .SideEgesz {
      display: flex;
      flex-direction: column;
      position: absolute;
    }

    /*1*/
    .SideDrawerNyit {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /*height: 100%;*/
      width: 15rem;
      background: white;     
      position: relative;
      z-index: 30000;
      /*position: absolute;*/  /*SAFARI LEHET EZ NEM MINDEGY NEKI*/
      /*top: 4rem;*/
      /*EZ RONTOTTA EL A SAFARIT!!!!!!!!!!!!!!!!!!!!!!*/
     /* left: 0;      */ 
      opacity:0.9;
      /*Itt a megoldás- alacsonybnak kell 
      lennie mint minden más kivéve a backdrop*/
      /*FONTOS HA A PARENT ELEMNT ALACSONYABB Z INDEXEN VAN  MINT AMIT
      KI AKAROK TAKARNI A CHILDET HIÁBA TESZEM MAGASBRA*/
      z-index: 2860;
      transform: translateX(0);
      transition: transform 0.4s ease-out;
      border: 3px solid rgba(40, 164, 241, 0.938);
      padding-top: 1rem;
      color:rgba(40, 164, 241, 0.938);
      
    }

    /*1*/
    .SideDrawerNyit p {
       /*EGYEDI KÉSZÍTÉSŰ*/
     }

     /*FORDÍTVA VAN AZ ELSŐ ÍRJA FELÜL AZ UTOLSÓT KÉSŐBB NEM LEHET FELÜLÍRNI!!!
      CSAK ID -VAL!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      AZ ID -T VISZONT MINDEN EGYES ELEMHEZ KÜLÖN HOZZÁ KELL ADNI!!!!!!!!!!!!!
      KÜLÖN LI ÉS UL ÉS NAVLINK AHHOZ HOGY HASSON*/
     .SideDrawerNyit ul {
     /* background-color: red;*/
    /* border-top: 1px dashed rgba(40, 164, 241, 0.938);
     border-bottom: 1px dashed rgba(40, 164, 241, 0.938);   */
      /*background-color: black;  */
     }

     /*1*/
    .SideDrawerNyit li {
      display: flex;
      padding: 0.5rem;
      width:100%;
      color:rgba(40, 164, 241, 0.938);
    }

    /*1*/
    /*A linkek a divben lévő osztályokból erednek, nem olyanok mint a li-k*/
    .SideDrawerNyit a {     
      color:rgba(40, 164, 241, 0.938);  
      /*border: 3px solid red; */ 
    }

    /*1*/
    .SideDrawerZar { 
      transform: translateX(-1000%);
      transition: transform 0.3s ease-out;
      /*visibility: hidden;*/
    } 

    /*1*/
    .WebarakNyit p{
      color: black;
      font-weight: 900;
    }

    /*1*/
    #lenyiloelejeid {
    /* border-top: 1px dashed rgba(40, 164, 241, 0.938);*/
    border-top: 1px dashed black;
    }

    /*1*/
    #lenyilovegeid {
    /*  border-bottom: 1px dashed rgba(40, 164, 241, 0.938); */
    border-bottom: 1px dashed black;
     }

     /*1*/
    .WebarakNyit li {
      color:rgba(40, 164, 241, 0.938);
      padding-left: 1.5rem;    
    }

    /*1*/
    .WebarakZar {
      display: none;
    }

    /*1*/
    .WebarakZar li {
      display: none;
    }

    /*1*/
    .NyiloMenu {
      display: flex;
    }

    /*1*/
    .SeoNyit {
     /* display: flex;
      flex-direction: column;
      border-top: 1px dashed rgba(40, 164, 241, 0.938);
      border-bottom: 1px dashed rgba(40, 164, 241, 0.938);   
      background-color: black;  */
    }

    /*1*/
    .SeoNyit li {
     /* padding-left: 1.5rem;*/
      /*border:3px solid red;*/
      padding-left: 1.5rem;
    }

    /*1*/
    .SeoNyit ul {
     /* border:3px solid green;*/
    }

    /*1*/
    .SeoZar {
      display: none;
     /* border:3px solid green;*/
    }

    /*1*/
    .SideBezarkont {
      display: flex;    
      justify-content: flex-end;      
    }

    /*1*/
    .SideBezar {   
      width:5rem;
      margin-top:2%;
      padding:1%;
      text-align: center;
      /*color:  rgba(40, 164, 241, 0.938);*/
      color:black;
      border-top:2px solid black;
      border-left:2px solid black;
      border:2px solid black;
      /*font-family: serif;*/
     /* background-color: black;*/
      font-size: 1rem;
    }
   
  }
  
  /* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/
  
  
  /* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
  
  /*2*/
  .SafariIgeny{
    display: flex;
    flex-direction: column;
  }
  
  /*2*/
  .SideEgesz {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  /*2*/
  .SideDrawerNyit {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 100%;*/
    width: 15rem;
    background: white;     
    position: relative;
    z-index: 30000;
    /*position: absolute;*/  /*SAFARI LEHET EZ NEM MINDEGY NEKI*/
    /*top: 4rem;*/
    /*EZ RONTOTTA EL A SAFARIT!!!!!!!!!!!!!!!!!!!!!!*/
   /* left: 0;      */ 
    opacity:0.9;
    /*Itt a megoldás- alacsonybnak kell 
    lennie mint minden más kivéve a backdrop*/
    /*FONTOS HA A PARENT ELEMNT ALACSONYABB Z INDEXEN VAN  MINT AMIT
    KI AKAROK TAKARNI A CHILDET HIÁBA TESZEM MAGASBRA*/
    z-index: 2860;
    transform: translateX(0);
    transition: transform 0.4s ease-out;
    border: 3px solid rgba(40, 164, 241, 0.938);
    padding-top: 1rem;
    color:rgba(40, 164, 241, 0.938);
   /*color:red;*/
  }

  /*2*/
  .SideDrawerNyit p {
     /*EGYEDI KÉSZÍTÉSŰ*/
   }

   /*FORDÍTVA VAN AZ ELSŐ ÍRJA FELÜL AZ UTOLSÓT KÉSŐBB NEM LEHET FELÜLÍRNI!!!
    CSAK ID -VAL!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    AZ ID -T VISZONT MINDEN EGYES ELEMHEZ KÜLÖN HOZZÁ KELL ADNI!!!!!!!!!!!!!
    KÜLÖN LI ÉS UL ÉS NAVLINK AHHOZ HOGY HASSON*/

    /*2*/
   .SideDrawerNyit ul {
 /*Most üres*/
   }

   /*2*/
  .SideDrawerNyit li {
    display: flex;
    padding: 0.5rem;
    width:100%;
    /*color:rgba(40, 164, 241, 0.938);*/
  }

  /*2*/
  /*A linkek a divben lévő osztályokból erednek, nem olyanok mint a li-k*/
  .SideDrawerNyit a {     
    color:rgba(40, 164, 241, 0.938);  
    /*border: 3px solid red; */ 
  }

  /*2*/
  .SideDrawerZar { 
    transform: translateX(-1000%);
    transition: transform 0.3s ease-out;
    /*visibility: hidden;*/
  } 

  /*2*/
  .WebarakNyit p{
    color: black;
    font-weight: 900;
  }

  /*2*/
  #lenyiloelejeid {
  /* border-top: 1px dashed rgba(40, 164, 241, 0.938);*/
  border-top: 1px dashed black;
  }

  /*2*/
  #lenyilovegeid {
  /*  border-bottom: 1px dashed rgba(40, 164, 241, 0.938); */
  border-bottom: 1px dashed black;
   }

   /*2*/
  .WebarakNyit li {
    color:rgba(40, 164, 241, 0.938);
    padding-left: 1.5rem;    
  }

  /*2*/
  .WebarakZar {
    display: none;
  }

  /*2*/
  .WebarakZar li{
    display: none;
  }

  /*2*/
  .NyiloMenu {
    display: flex;
  }

  /*2*/
  .SeoNyit {
   /*most üres*/
  }

  /*2*/
  .SeoNyit li {
    padding-left: 1.5rem;
  }

  /*2*/
  .SeoNyit ul {
    border:3px solid green;
  }

  /*2*/
  .SeoZar {
    display: none;
  }

  /*2*/
  .SideBezarkont {
    display: flex;    
    justify-content: flex-end;      
  }

  /*2*/
  .SideBezar {   
    width:5rem;
    margin-top:2%;
    padding:1%;
    text-align: center;
    /*color:  rgba(40, 164, 241, 0.938);*/
    color:black;
    border-top:2px solid black;
    border-left:2px solid black;
    border:2px solid black;
    /*font-family: serif;*/
   /* background-color: black;*/
    font-size: 1rem;
  }
   
}


/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/

/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
    /*3*/
  .SafariIgeny{
    display: flex;
    flex-direction: column;
  }
  
   /*3*/
  .SideEgesz {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

   /*3*/
  .SideDrawerNyit {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 100%;*/
    width: 25rem;
    background: white;     
    position: relative;
    z-index: 30000;
    opacity:0.9;    
    z-index: 2860;
    transform: translateX(0);
    transition: transform 0.4s ease-out;
    border: 3px solid rgba(40, 164, 241, 0.938);
    padding-top: 1rem;
    color:rgba(40, 164, 241, 0.938);
    font-size: 1.5rem;
  }

   /*3*/
  .SideDrawerNyit p {
     /*EGYEDI KÉSZÍTÉSŰ*/
   }

   /*FORDÍTVA VAN AZ ELSŐ ÍRJA FELÜL AZ UTOLSÓT KÉSŐBB NEM LEHET FELÜLÍRNI!!!
    CSAK ID -VAL!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    AZ ID -T VISZONT MINDEN EGYES ELEMHEZ KÜLÖN HOZZÁ KELL ADNI!!!!!!!!!!!!!
    KÜLÖN LI ÉS UL ÉS NAVLINK AHHOZ HOGY HASSON*/

    /*2*/
   .SideDrawerNyit ul {
  /*most üres*/
   }

    /*3*/
  .SideDrawerNyit li {
    display: flex;
    padding: 0.5rem;
    width:100%;
    color:rgba(40, 164, 241, 0.938);
  }

   /*3*/
  /*A linkek a divben lévő osztályokból erednek, nem olyanok mint a li-k*/
  .SideDrawerNyit a {     
    color:rgba(40, 164, 241, 0.938);  
    /*border: 3px solid red; */ 
  }

   /*3*/
  .SideDrawerZar { 
    transform: translateX(-1000%);
    transition: transform 0.3s ease-out;
    /*visibility: hidden;*/
  } 

 /*3*/
  .WebarakNyit p{
    color: black;
    font-weight: 900;
  }

  /*3*/
  #lenyiloelejeid {
  /* border-top: 1px dashed rgba(40, 164, 241, 0.938);*/
  border-top: 1px dashed black;
  }

   /*3*/
  #lenyilovegeid {
  /*  border-bottom: 1px dashed rgba(40, 164, 241, 0.938); */
  border-bottom: 1px dashed black;
   }

  /*3*/
  .WebarakNyit li {
    color:rgba(40, 164, 241, 0.938);
    padding-left: 1.5rem;    
  }

  /*3*/
  .WebarakZar {
    display: none;
  }

  /*3*/
  .WebarakZar li{
    display: none;
  }

   /*3*/
  .NyiloMenu {
    display: flex;
  }

  /*3*/
  .SeoNyit {
/*most üres*/
  }

   /*3*/
  .SeoNyit li {
    padding-left: 1.5rem;
  }

   /*3*/
  .SeoNyit ul {
    border:3px solid green;
  }

   /*3*/
  .SeoZar {
    display: none;
   /* border:3px solid green;*/
  }

   /*3*/
  .SideBezarkont {
    display: flex;    
    justify-content: flex-end;      
  }

   /*3*/
  .SideBezar {   
    width:8rem;
    margin-top:2%;
    padding:1%;
    text-align: center;
    /*color:  rgba(40, 164, 241, 0.938);*/
    color:black;
    border-top:2px solid black;
    border-left:2px solid black;
    border:2px solid black;
    font-size: 1.5rem;
  }
  
}

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/

/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
     /*4*/
  .SafariIgeny{
    display: flex;
    flex-direction: column;
  }
  
   /*4*/
  .SideEgesz {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

   /*4*/
  .SideDrawerNyit {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 100%;*/
    width: 25rem;
    background: white;     
    position: relative;
    z-index: 30000;
    opacity:0.9;    
    z-index: 2860;
    transform: translateX(0);
    transition: transform 0.4s ease-out;
    border: 3px solid rgba(40, 164, 241, 0.938);
    padding-top: 1rem;
    color:rgba(40, 164, 241, 0.938);
    font-size: 1.5rem;
  }

   /*4*/
  .SideDrawerNyit p {
     /*EGYEDI KÉSZÍTÉSŰ*/
   }

   /*FORDÍTVA VAN AZ ELSŐ ÍRJA FELÜL AZ UTOLSÓT KÉSŐBB NEM LEHET FELÜLÍRNI!!!
    CSAK ID -VAL!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    AZ ID -T VISZONT MINDEN EGYES ELEMHEZ KÜLÖN HOZZÁ KELL ADNI!!!!!!!!!!!!!
    KÜLÖN LI ÉS UL ÉS NAVLINK AHHOZ HOGY HASSON*/

    /*2*/
   .SideDrawerNyit ul {
  /*most üres*/
   }

    /*4*/
  .SideDrawerNyit li {
    display: flex;
    padding: 0.5rem;
    width:100%;
    color:rgba(40, 164, 241, 0.938);
  }

   /*4*/
  /*A linkek a divben lévő osztályokból erednek, nem olyanok mint a li-k*/
  .SideDrawerNyit a {     
    color:rgba(40, 164, 241, 0.938);  
    /*border: 3px solid red; */ 
  }

   /*4*/
  .SideDrawerZar { 
    transform: translateX(-1000%);
    transition: transform 0.3s ease-out;
    /*visibility: hidden;*/
  } 

 /*4*/
  .WebarakNyit p{
    color: black;
    font-weight: 900;
  }

  /*4*/
  #lenyiloelejeid {
  /* border-top: 1px dashed rgba(40, 164, 241, 0.938);*/
  border-top: 1px dashed black;
  }

   /*4*/
  #lenyilovegeid {
  /*  border-bottom: 1px dashed rgba(40, 164, 241, 0.938); */
  border-bottom: 1px dashed black;
   }

  /*4*/
  .WebarakNyit li {
    color:rgba(40, 164, 241, 0.938);
    padding-left: 1.5rem;    
  }

  /*4*/
  .WebarakZar {
    display: none;
  }

  /*4*/
  .WebarakZar li{
    display: none;
  }

   /*4*/
  .NyiloMenu {
    display: flex;
  }

  /*4*/
  .SeoNyit {
/*most üres*/
  }

   /*4*/
  .SeoNyit li {
    padding-left: 1.5rem;
  }

   /*4*/
  .SeoNyit ul {
    border:3px solid green;
  }

   /*4*/
  .SeoZar {
    display: none;
   /* border:3px solid green;*/
  }

   /*4*/
  .SideBezarkont {
    display: flex;    
    justify-content: flex-end;      
  }

   /*4*/
  .SideBezar {   
    width:8rem;
    margin-top:2%;
    padding:1%;
    text-align: center;
    /*color:  rgba(40, 164, 241, 0.938);*/
    color:black;
    border-top:2px solid black;
    border-left:2px solid black;
    border:2px solid black;
    font-size: 1.5rem;
  }
 
}
/* 4. Tablets, Ipads (landscape) VÉGE*/


/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {
  
  .SafariIgeny {
    display: none;
  }  
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width: 1599px) {
  .SafariIgeny {
    display: none;
  }    
}

/* 6. Higher resolution desktops VÉGE*/


/* 7. Larger screen ELEJE*/

@media (min-width: 1600px) {
  .SafariIgeny {
    display: none;
  }
}

/* 7. Larger screen VÉGE*/