
  
  
  /* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
  @media (min-width: 320px) and (max-width: 480px) {
    
    .SideEgesz {
      display: flex;
      flex-direction: column;
     /* border: 3px solid red;*/
      min-width:100%;
    /*  background-color: blue;*/
    }

    .Open {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      /*justify-content: left;*/
      border-bottom: 3px dashed rgba(40, 164, 241, 0.938);
      height: 100%;
      max-height: 20rem;
      width: 100%;
      background: white;     
      position: relative;
      /*position: absolute;*/  /*SAFARI LEHET EZ NEM MINDEGY NEKI*/
      /*top: 4rem;*/
      /*EZ RONTOTTA EL A SAFARIT!!!!!!!!!!!!!!!!!!!!!!*/
     /* left: 0;      */ 
      opacity:0.9;
      /*Itt a megoldás- alacsonybnak kell 
      lennie mint minden más kivéve a backdrop*/
      /*FONTOS HA A PARENT ELEMNT ALACSONYABB Z INDEXEN VAN  MINT AMIT
      KI AKAROK TAKARNI A CHILDET HIÁBA TESZEM MAGASBRA*/
      z-index: 2860;
      /*background:  #cca353;*/
      transform: translateY(0);
      transition: transform 0.3s ease-out;
      border: 3px solid violet;
      padding-top: 3rem;
    }

    .Open ul {
     /* border: 6px solid orange;*/
     /*padding-top: 3rem;*/
     
    }

    .Open li {
    /*  border: 3px solid yellow;*/
      padding: 0.5rem;
    
    }

    .Closed { 
      transform: translateY(-1000%);
      transition: transform 0.3s ease-out;
      /*visibility: hidden;*/
    }
  
    /*  SAJÁT STATEBŐL JŐVŐ OSZTÁLYOK ELEJE */
 
     .Nyit
      {
      display:flex;
     }

    .Zar1 {
      display:none;
    }

    .Nyit2 {
      display: flex;
      flex-direction: column;
      /*align-content: flex-end;*/
      border: 3px solid yellow;
      
    }

    .Nyit2 ul{
      padding: 0;
      margin:0;
    }

    /*  SAJÁT STATEBŐL JŐVŐ OSZTÁLYOK VÉGE */      
  }
  
  /* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/
  
  
  /* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
  
  

}


/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/