/* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {
 /*0*/
  .ReklamEgesz {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
   /* border-top: 1px solid rgba(40, 164, 241, 0.938); */
    border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
    padding:1%;
  }

  /*0*/
  .ReklamCim {   
    display: flex;
    justify-content: center;
    text-align: center;
   /* color:red;*/
    font-size: 1.5rem; 
    font-weight: 900;  
  }

  /*0*/
  .ReklamKontener {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    padding-top: 3%;
    /*border: 3px solid purple;*/
  }

  /*0*/
  .ReklamKepekKontener {
      display: flex;
      flex-direction: column;
      max-height: 40rem;
      min-width: 80%;
    /*  border: 3px solid red;*/
      padding-bottom: 1%;
  }
  
  /*0*/
  .ReklamKep1 {
    min-width:50%;
     max-height: 30rem;
  }

  /*0*/
  .ReklamKep1 img {
     /*üres*/
     min-width:50%;
   max-height: 30rem;
    /* max-height: 15rem;
     min-width: 100%;*/
  }

  /*0*/
  .ReklamVsKontener {
      display: flex;
    /*  border: 3px solid orange;*/
      min-width:3rem;
      align-items: center;
      justify-content: center;
  }

  /*0*/
  .ReklamVs {
      display: flex;
      justify-content: center;
      /*border: 3px solid green;*/
      min-width:3rem;
      font-size: 2rem;
    }
  
    /*0*/
  .ReklamSzovKont {
      display: flex;
  }

  /*0*/
  .ReklamSzoveg1 {
    padding: 2%;
    margin: 0;
    width:100%;
    min-width: 50%;
    font-size: 0.8rem;
    line-height: 0.8rem;
   /* padding:1%;*/
    /*padding:1%;*/
    /*border: 3px solid green; */
  }

  /*0*/
  .AjanlomGombR {
    display: flex;
    justify-content: center; 
    margin-top:1rem;
    height: 3rem;
    /*border: 3px solid purple;*/
   }
  
   /*0*/
  .AjanlomGombR2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:10rem;
    height: 2rem;
    font-size: 1.2rem; 
    justify-content: center; 
   /* margin:2rem;*/  
    border-radius: 3px;  
   /* border:3px solid red;*/
    background-color: rgba(40, 164, 241, 0.938);
  }
  
  /*0*/
  .AjanlomGombR2 h1{
   color:white;
  }
  
  /*0*/
  .AjanlomGombR2:hover {
    background-color:red ;
  }

  /*0*/
  .AjanlomGombR2 a {
   text-decoration: none;
  }

}

/* 0. Mini SmartPhones VÉGE*/

/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {
 
  /*1*/
  .ReklamEgesz {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
   /* border-top: 1px solid rgba(40, 164, 241, 0.938); */
    border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
    padding:1%;
  }

  /*1*/
  .ReklamCim {   
    display: flex;
    justify-content: center;
    text-align: center;
   /* color:red;*/
    font-size: 1.6rem;   
    font-weight: 900; 
  }

  /*1*/
  .ReklamKontener {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    padding-top: 3%;
    /*border: 3px solid purple;*/
  }

  /*1*/
  .ReklamKepekKontener {
      display: flex;
      flex-direction: column;
      max-height: 40rem;
      min-width: 80%;
    /*  border: 3px solid red;*/
      padding-bottom: 1%;
  }
  
  /*1*/
  .ReklamKep1 {
    min-width:50%;
     max-height: 30rem;
  }

  /*1*/
  .ReklamKep1 img {
     /*üres*/
     min-width:50%;
   max-height: 30rem;
    /* max-height: 15rem;
     min-width: 100%;*/
  }

  /*1*/
  .ReklamVsKontener {
      display: flex;
    /*  border: 3px solid orange;*/
      min-width:3rem;
      align-items: center;
      justify-content: center;
  }

  /*1*/
  .ReklamVs {
      display: flex;
      justify-content: center;
      /*border: 3px solid green;*/
      min-width:3rem;
      font-size: 2rem;
    }
  
    /*1*/
  .ReklamSzovKont {
      display: flex;
   }

   /*1*/
  .ReklamSzoveg1 {
    padding: 2%;
    margin: 0;
    width:100%;
    min-width: 50%;
    font-size: 1.2rem;
    line-height: 1.5rem; 
   /* padding:1%;*/
    /*padding:1%;*/
    /*border: 3px solid green; */
  }

  /*1*/
  .AjanlomGombR {
    display: flex;
    justify-content: center; 
    /*margin-top:2rem;*/
    height: 5rem;
    /*border: 3px solid purple;*/
   }
  
   /*1*/
  .AjanlomGombR2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:14rem;
    height: 3rem;
    font-size: 2rem;
    justify-content: center; 
   /* margin:2rem;*/
    
    border-radius: 3px;  
   /* border:3px solid red;*/
    background-color: rgba(40, 164, 241, 0.938);
  }
  
  /*1*/
  .AjanlomGombR2 h1{
   color:white;
  }
  
  /*1*/
  .AjanlomGombR2:hover {
    background-color:red ;
  }

  /*1*/
  .AjanlomGombR2 a {
   text-decoration: none;
  }
    
  }

/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
  
  /*2*/
  .ReklamEgesz {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
   /* border-top: 1px solid rgba(40, 164, 241, 0.938); */
    border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
    padding:1%;
  }

  /*2*/
  .ReklamCim {   
    display: flex;
    justify-content: center;
    text-align: center;
   /* color:red;*/
    font-size: 2rem;  
    font-weight: 900;  
  }

  /*2*/
  .ReklamKontener {
    display:flex;
    flex-direction: column;
    padding: 0%;
    padding-top: 3%;
    /*border: 3px solid purple;*/
  }

  /*2*/
  .ReklamKepekKontener {
      display: flex;
     /* border: 3px solid red;*/
      padding-bottom: 1%;
      min-height: 15rem;
   }
  
   /*2*/
  .ReklamKep1 {
     /*üres*/
  }

  /*2*/
  .ReklamKep1 img {
     /*üres*/
     min-height: 15rem;
  }

  /*2*/
  .ReklamVsKontener {
      display: flex;
    /*  border: 3px solid orange;*/
      min-width:3rem;
      align-items: center;
  }

  /*2*/
  .ReklamVs {
      display: flex;
      justify-content: center;
     /* border: 3px solid green;*/
      min-width:3rem;
      font-size: 2rem;
  }
 
  /*2*/
  .ReklamSzovKont {
      display: flex;
  }

  /*2*/
  .ReklamSzoveg1 {
    display: flex;
    font-size: 1.2rem;
    line-height: 1.5rem;  
    padding: 1%;
   /* padding:1%;*/
    /*padding:1%;*/
    /*border: 3px solid green; */
  }

  /*2*/
  .AjanlomGombR {
    display: flex;
    justify-content: center; 
    margin-top:2rem;
    height: 5rem;
    /*border: 3px solid purple;*/
   }
  
   /*2*/
  .AjanlomGombR2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:12rem;
    height: 3rem;
    width:14rem;
    height: 3rem;
    font-size: 2rem;  
    justify-content: center; 
   /* margin:2rem;*/   
    border-radius: 3px;  
   /* border:3px solid red;*/
    background-color: rgba(40, 164, 241, 0.938);
  }
  
  /*2*/
  .AjanlomGombR2 h1{
   color:white;
  }

  /*2*/
  .AjanlomGombR2:hover {
    background-color:red ;
  }
  /*2*/
  .AjanlomGombR2 a {
   text-decoration: none;
  }
}

/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/


/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
 
  /*3*/
  .ReklamEgesz {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
   /* border-top: 1px solid rgba(40, 164, 241, 0.938); */
    border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
    padding:2%;
  }

  /*3*/
  .ReklamCim {   
    display: flex;
    justify-content: center;
    text-align: center;
   /* color:red;*/
    font-size: 2.2rem;   
    font-weight: 900; 
  }

  /*3*/
  .ReklamKontener {
    display:flex;
    flex-direction: column;
    padding: 0%;
    padding-top: 3%;
    /*border: 3px solid purple;*/
  }

  /*3*/
  .ReklamKepekKontener {
      display: flex;
      /*border: 3px solid red;*/
      padding-bottom: 1%;
  }
  
  /*3*/
  .ReklamKep1 {
     /*üres*/
  }

  /*3*/
  .ReklamKep1 img {
     /*üres*/
  }

  /*3*/
  .ReklamVsKontener {
      display: flex;
    /*  border: 3px solid orange;*/
      min-width:10rem;
      align-items: center;
  }

  /*3*/
  .ReklamVs {
      display: flex;
      justify-content: center;
     /* border: 3px solid green;*/
      min-width:10rem;
      font-size: 5rem;
  }
 
  /*3*/
  .ReklamSzovKont {
      display: flex;
  }

  /*3*/
  .ReklamSzoveg1 {
    font-size: 1.5rem;
    line-height: 1.7rem; 
   /* padding:1%;*/
    /*padding:1%;*/
    /*border: 3px solid green; */
  }

  /*3*/
  .AjanlomGombR {
    display: flex;
    justify-content: center; 
    margin-top:2rem;
    height: 5rem;
    /*border: 3px solid purple;*/
   }
  
   /*3*/
  .AjanlomGombR2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:14rem;
    height: 3rem;
    font-size: 2rem; 
    justify-content: center; 
   /* margin:2rem;*/
    border-radius: 3px;  
   /* border:3px solid red;*/
    background-color: rgba(40, 164, 241, 0.938);
  }
  
  /*3*/
  .AjanlomGombR2 h1{
   color:white;
  }
  
  /*3*/
  .AjanlomGombR2:hover {
    background-color:red ;
  }

  /*3*/
  .AjanlomGombR2 a {
   text-decoration: none;
  }
}

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/

/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
  /*4*/
  .ReklamEgesz {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
   /* border-top: 1px solid rgba(40, 164, 241, 0.938); */
    border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
    padding:1%;
  }

  /*4*/
  .ReklamCim {   
    display: flex;
    justify-content: center;
    text-align: center;
   /* color:red;*/
    font-size: 2rem;   
    font-weight: 900; 
  }

  /*4*/
  .ReklamKontener {
    display:flex;
    flex-direction: column;
    padding: 0%;
    padding-top: 3%;
    /*border: 3px solid purple;*/
  }

  /*4*/
  .ReklamKepekKontener {
      display: flex;
     /* border: 3px solid red;*/
      padding-bottom: 1%;
  }
  
  /*4*/
  .ReklamKep1 {
     /*üres*/
  }

  /*4*/
  .ReklamKep1 img {
     /*üres*/
  }

  /*4*/
  .ReklamVsKontener {
      display: flex;
    /*  border: 3px solid orange;*/
      min-width:10rem;
      align-items: center;
  }

  /*4*/
  .ReklamVs {
      display: flex;
      justify-content: center;
     /* border: 3px solid green;*/
      min-width:10rem;
      font-size: 5rem;
  }
 
  /*4*/
  .ReklamSzovKont {
      display: flex;
  }

  /*4*/
  .ReklamSzoveg1 {
    font-size: 1.2rem;
    line-height: 1.5rem;  
   /* padding:1%;*/
    /*padding:1%;*/
    /*border: 3px solid green; */
  }

  /*4*/
  .AjanlomGombR {
    display: flex;
    justify-content: center; 
    margin-top:2rem;
    height: 4rem;
    /*border: 3px solid purple;*/
   }
  
   /*4*/
  .AjanlomGombR2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:11rem;
    height: 2.5rem;
    font-size: 1.5rem; 
    justify-content: center; 
   /* margin:2rem;*/
    border-radius: 3px;  
   /* border:3px solid red;*/
    background-color: rgba(40, 164, 241, 0.938);
  }
  
  /*4*/
  .AjanlomGombR2 h1 {
   color:white;
  }

  /*4*/
  .AjanlomGombR2:hover {
    background-color:red ;
  }

  /*4*/
  .AjanlomGombR2 a {
   text-decoration: none;
  }
 
}
/* 4. Tablets, Ipads (landscape) VÉGE*/


/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {
  
  /*5*/
  .ReklamEgesz {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
   /* border-top: 1px solid rgba(40, 164, 241, 0.938); */
    border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
    padding:1%;
  }

   /*5*/
  .ReklamCim {   
    display: flex;
    justify-content: center;
    text-align: center;
   /* color:red;*/
    font-size: 2.2rem;   
    font-weight: 900; 
   
  }

   /*5*/
  .ReklamKontener {
    display:flex;
    flex-direction: column;
    padding: 0%;
    padding-top: 3%;
    /*border: 3px solid purple;*/
  }

   /*5*/
  .ReklamKepekKontener {
      display: flex;
     /* border: 3px solid red;*/
      padding-bottom: 1%;
  }
  
   /*5*/
  .ReklamKep1 {
     /*üres*/
  }

   /*5*/
  .ReklamKep1 img {
     /*üres*/
  }

   /*5*/
  .ReklamVsKontener {
      display: flex;
    /*  border: 3px solid orange;*/
      min-width:10rem;
      align-items: center;
  }

   /*5*/
  .ReklamVs {
      display: flex;
      justify-content: center;
     /* border: 3px solid green;*/
      min-width:10rem;
      font-size: 5rem;
  }
 
   /*5*/
  .ReklamSzovKont {
      display: flex;
  }

   /*5*/
  .ReklamSzoveg1 {
    font-size: 1.5rem;
    line-height: 2rem;  
   /* padding:1%;*/
    /*padding:1%;*/
    /*border: 3px solid green; */
  }

   /*5*/
  .AjanlomGombR {
    display: flex;
    justify-content: center; 
    margin-top:2rem;
    height: 5rem;
    /*border: 3px solid purple;*/
   }
  
    /*5*/
  .AjanlomGombR2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:14rem;
    height: 3rem;
    font-size: 2rem; 
    justify-content: center; 
   /* margin:2rem;*/
    border-radius: 3px;  
   /* border:3px solid red;*/
    background-color: rgba(40, 164, 241, 0.938);
  }
  
   /*5*/
  .AjanlomGombR2 h1 {
   color:white;
  }
  
   /*5*/
  .AjanlomGombR2:hover {
    background-color:red ;
  }

   /*5*/
  .AjanlomGombR2 a {
   text-decoration: none;
  }  
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/
@media (min-width: 1281px) and (max-width: 1599px) {
  
   /*6*/
  .ReklamEgesz {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
   /* border-top: 1px solid rgba(40, 164, 241, 0.938); */
    border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
    padding:1%;
  }

   /*6*/
  .ReklamCim {   
    display: flex;
    justify-content: center;
    text-align: center;
   /* color:red;*/
    font-size: 3rem;   
    font-weight: 900; 
  }

   /*6*/
  .ReklamKontener {
    display:flex;
    flex-direction: column;
    padding: 0%;
    padding-top: 3%;
    /*border: 3px solid purple;*/
  }

   /*6*/
  .ReklamKepekKontener {
      display: flex;
     /* border: 3px solid red;*/
      padding-bottom: 1%;
  }
  
   /*6*/
  .ReklamKep1 {
     /*üres*/
  }

   /*6*/
  .ReklamKep1 img {
     /*üres*/
  }

   /*6*/
  .ReklamVsKontener {
      display: flex;
    /*  border: 3px solid orange;*/
      min-width:10rem;
      align-items: center;
  }

   /*6*/
  .ReklamVs {
      display: flex;
      justify-content: center;
     /* border: 3px solid green;*/
      min-width:10rem;
      font-size: 5rem;
  }
 
   /*6*/
  .ReklamSzovKont {
      display: flex;
  }

   /*6*/
  .ReklamSzoveg1 {
    font-size: 1.5rem;
    line-height: 2rem;  
   /* padding:1%;*/
    /*padding:1%;*/
    /*border: 3px solid green; */
  }

   /*6*/
  .AjanlomGombR {
    display: flex;
    justify-content: center; 
    margin-top:2rem;
    height: 5rem;
    /*border: 3px solid purple;*/
   }
  
    /*6*/
  .AjanlomGombR2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:14rem;
    height: 3rem;
    font-size: 2rem;
    justify-content: center; 
   /* margin:2rem;*/
    border-radius: 3px;  
   /* border:3px solid red;*/
    background-color: rgba(40, 164, 241, 0.938);
  }
  
   /*6*/
  .AjanlomGombR2 h1 {
   color:white;
  }

 .AjanlomGombR2:hover {
    background-color:red ;
  }

   /*6*/
  .AjanlomGombR2 a {
   text-decoration: none;
  }  
}

/* 6. Higher resolution desktops VÉGE*/

/* 7. Larger screen ELEJE*/

@media (min-width: 1600px) {

    .ReklamEgesz {
      /*border: 3px solid red;*/
      display: flex;
      flex-direction: column;
     /* border-top: 1px solid rgba(40, 164, 241, 0.938); */
      border-bottom: 1px solid rgba(40, 164, 241, 0.938); 
      padding:1%;
    }
  
    .ReklamCim {   
      display: flex;
      justify-content: center;
      text-align: center;
     /* color:red;*/
      font-size: 4rem;   
      font-weight: 900; 
    }
  
    .ReklamKontener {
      display:flex;
      flex-direction: column;
      padding: 0%;
      padding-top: 3%;
      /*border: 3px solid purple;*/
    }

    .ReklamKepekKontener {
        display: flex;
       /* border: 3px solid red;*/
        padding-bottom: 1%;
    }
    
    .ReklamKep1 {
       /*üres*/
    }

    .ReklamKep1 img {
       /*üres*/
    }

    .ReklamVsKontener {
        display: flex;
      /*  border: 3px solid orange;*/
        min-width:10rem;
        align-items: center;
    }

    .ReklamVs {
        display: flex;
        justify-content: center;
       /* border: 3px solid green;*/
        min-width:10rem;
        font-size: 5rem;
    }
   
    .ReklamSzovKont {
        display: flex;
    }

    .ReklamSzoveg1 {
       font-size: 2rem;
       line-height: 3rem;   
      /*border: 3px solid green; */
    }

    .AjanlomGombR {
     display: flex;
     justify-content: center; 
     margin-top:2rem;
     height: 5rem;
     /* border: 3px solid purple;*/
     }
    
    .AjanlomGombR2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width:14rem;
      height: 3rem;
      font-size: 2rem;
      justify-content: center; 
     /* margin:2rem;*/
      border-radius: 3px;  
     /* border:3px solid red;*/
      background-color: rgba(40, 164, 241, 0.938);
    }
    
    .AjanlomGombR2 h1{
     color:white;
    }

    .AjanlomGombR2:hover {
     background-color:red ;
     }

    .AjanlomGombR2 a {
      text-decoration: none;
      }

}