

/* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {

    .NMbackdrop { 
        position: relative;
        width: 200%;
        height: 30rem;   
        background: white;
        z-index: 100;
        border:6px solid green;
        opacity: 0;
    }


}

/* 0. Mini SmartPhones VÉGE*/



/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {
    .NMbackdrop { 
        position: relative;
        width: 400%;
        height: 40rem;   
        background: white;
        z-index: 100;
        border:6px solid green;
        opacity: 0;
    }
    
    
  }

/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
    .NMbackdrop { 
        position: relative;
        width: 400%;
        height: 33rem;   
        background: white;
        z-index: 100;
        border:6px solid green;
        opacity: 0;
    } 

}


/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/



/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
    .NMbackdrop { 
        position: relative;
        width: 400%;
        height: 45rem;   
        background: white;
        z-index: 100;
       /* border:6px solid green;*/
        opacity: 0;
    }
 
  
}

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/

/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .NMbackdrop { 
        position: relative;
        width: 400%;
        height: 45rem;   
        background: white;
        z-index: 100;
        border:6px solid purple;
       /* opacity: 1;*/
    }
}
/* 4. Tablets, Ipads (landscape) VÉGE*/


/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {
  
  
  
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width: 1599px) {
  
  
  
}

/* 6. Higher resolution desktops VÉGE*/


/* 7. Larger screen ELEJE*/

@media (min-width: 1600px) {




}

/* 7. Larger screen VÉGE*/
