/* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {
    .HozzaszolasEgesz {
        /* border: 3px solid red;*/
         display: flex;
        
         flex-direction: column;
         max-height: 100rem;
     }
     .FaceFelso {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         max-height: 100rem;
     
     }
     
     .Hozzaszolas {
      /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }
     .Hozzaszolas2 {
        /* border: 3px solid red;*/
         display: flex;
         justify-content: center;
         margin-top:5rem;
         /*padding: 3rem;*/
         max-height: 100rem;
         width:100%;
      }




}

/* 0. Mini SmartPhones VÉGE*/



/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {
    .HozzaszolasEgesz {
        border: 3px solid red;
         display: flex;
        
         flex-direction: column;
         max-height: 100rem;
     }
     .FaceFelso {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         max-height: 100rem;
     
     }
     
     .Hozzaszolas {
      /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }
     .Hozzaszolas2 {
        /* border: 3px solid red;*/
         display: flex;
         justify-content: center;
         margin-top:5rem;
         /*padding: 3rem;*/
         max-height: 100rem;
         width:100%;
      }

    
    
  }

/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
    .HozzaszolasEgesz {
        /* border: 3px solid red;*/
         display: flex;
        
         flex-direction: column;
         max-height: 100rem;
     }
     .FaceFelso {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         max-height: 100rem;
     
     }
     
     .Hozzaszolas {
      /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }
     .Hozzaszolas2 {
        /* border: 3px solid red;*/
         display: flex;
         justify-content: center;
         margin-top:5rem;
         /*padding: 3rem;*/
         max-height: 100rem;
         width:100%;
      }

  

}


/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/



/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
    .HozzaszolasEgesz {
        /* border: 3px solid red;*/
         display: flex;
        
         flex-direction: column;
         max-height: 100rem;
     }
     .FaceFelso {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         max-height: 100rem;
     
     }
     
     .Hozzaszolas {
      /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }
     .Hozzaszolas2 {
        /* border: 3px solid red;*/
         display: flex;
         justify-content: center;
         margin-top:5rem;
         /*padding: 3rem;*/
         max-height: 100rem;
         width:100%;
      }

 
  
}

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/

/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .HozzaszolasEgesz {
        /* border: 3px solid red;*/
         display: flex;
        
         flex-direction: column;
         max-height: 100rem;
     }
     .FaceFelso {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         max-height: 100rem;
     
     }
     
     .Hozzaszolas {
      /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }
     .Hozzaszolas2 {
        /* border: 3px solid red;*/
         display: flex;
         justify-content: center;
         margin-top:5rem;
         /*padding: 3rem;*/
         max-height: 100rem;
         width:100%;
      }

 
}
/* 4. Tablets, Ipads (landscape) VÉGE*/


/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {
    .HozzaszolasEgesz {
        /* border: 3px solid red;*/
         display: flex;
        
         flex-direction: column;
         max-height: 100rem;
     }
     .FaceFelso {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         max-height: 100rem;
     
     }
     
     .Hozzaszolas {
      /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }
     .Hozzaszolas2 {
        /* border: 3px solid red;*/
         display: flex;
         justify-content: center;
         margin-top:5rem;
         /*padding: 3rem;*/
         max-height: 100rem;
         width:100%;
      }

  
  
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width: 1599px) {
    .HozzaszolasEgesz {
        /* border: 3px solid red;*/
         display: flex;
        
         flex-direction: column;
         max-height: 100rem;
     }
     .FaceFelso {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         max-height: 100rem;
     
     }
     
     .Hozzaszolas {
      /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }
     .Hozzaszolas2 {
        /* border: 3px solid red;*/
         display: flex;
         justify-content: center;
         margin-top:5rem;
         /*padding: 3rem;*/
         max-height: 100rem;
         width:100%;
      }

  
}

/* 6. Higher resolution desktops VÉGE*/


/* 7. Larger screen ELEJE*/

@media (min-width: 1600px) {

    .HozzaszolasEgesz {
        /* border: 3px solid red;*/
         display: flex;
        
         flex-direction: column;
         max-height: 100rem;
     }
     .FaceFelso {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         max-height: 100rem;
     
     }
     
     .Hozzaszolas {
      /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }
     .Hozzaszolas2 {
        /* border: 3px solid red;*/
         display: flex;
         justify-content: center;
         margin-top:5rem;
         /*padding: 3rem;*/
         max-height: 100rem;
         width:100%;
      }

}

/* 7. Larger screen VÉGE*/


