/* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {
 
    
    /*0*/
    .HozzaszolasEgesz {
        /* border: 3px dashed red;*/
        /* width: auto;*/
         display: flex;
         flex-direction: column;
         justify-content: center;
         /*margin-top: 1rem;*/
         width: 100%;
         
      }
 
      /*0*/
      .FaceFelso {
         padding: 1rem;
         margin: 20px 20px 20px 20px;
          /*
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          max-height: 100rem;*/
         border: 1px solid rgba(40, 164, 241, 0.938);
      }
      
      /*0*/
      .Hozzaszolas {
        /* border: 3px solid purple;*/
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         align-content: center;
         /*
         display: flex;
         justify-content: center;
        /* margin-top:1rem;*/
       /*  padding-top: 3rem;
         max-height: 100rem;*/
      }
     
}
/* 0. Mini SmartPhones VÉGE*/



/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {
   
   /*1*/
    .HozzaszolasEgesz {
       /* border: 3px dashed red;*/
       /* width: auto;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*margin-top: 1rem;*/
        width: 100%;
        
     }

     /*1*/
     .FaceFelso {
        padding: 1rem;
        margin: 20px 20px 20px 20px;
         /*
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         max-height: 100rem;*/
        border: 1px solid rgba(40, 164, 241, 0.938);
     }
     
     /*1*/
     .Hozzaszolas {
       /* border: 3px solid purple;*/
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        /*
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
      /*  padding-top: 3rem;
        max-height: 100rem;*/
      
     }
    
  }

/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
   
    /*2*/
    .HozzaszolasEgesz {
        display: flex;
         justify-content: center;
         flex-direction: column;
         max-height: 100rem;
         margin-top: 2rem;
     }

       /*2*/
     .FaceFelso {
        padding: 1rem;
        margin: 20px 20px 20px 20px;
        border: 1px solid rgba(40, 164, 241, 0.938);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 100rem;
     }
     
       /*2*/
     .Hozzaszolas {
      /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }

}


/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/



/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
   
    /*3*/
    .HozzaszolasEgesz {
        /* border: 3px solid red;*/
         display: flex;
         margin-top: 2rem;
         flex-direction: column;
         max-height: 100rem;
        
     }

     /*3*/
     .FaceFelso {
        padding: 1rem;
        margin: 20px 20px 20px 20px;
        border: 1px solid rgba(40, 164, 241, 0.938);
     
     }
     
     /*3*/
     .Hozzaszolas {
        /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }
  
}

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/

/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /*4*/
    .HozzaszolasEgesz {
        /* border: 3px solid red;*/
         display: flex;
         margin-top: 2rem;
         flex-direction: column;
         max-height: 100rem;
     }

     /*4*/
     .FaceFelso {
        padding: 1rem;
        margin: 20px 20px 20px 20px;
        border: 1px solid rgba(40, 164, 241, 0.938);
     }
     
     /*4*/
     .Hozzaszolas {
      /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }
 
}
/* 4. Tablets, Ipads (landscape) VÉGE*/


/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {
   
   /*5*/
    .HozzaszolasEgesz {
        /* border: 3px solid red;*/
         display: flex;
         margin-top: 2rem;
         flex-direction: column;
         max-height: 100rem;
         width: 100%;
     }

     /*5*/
     .FaceFelso {
        padding: 1rem;
        margin: 20px 20px 20px 20px;
        border: 1px solid rgba(40, 164, 241, 0.938);
     
     }
     
     /*5*/
     .Hozzaszolas {
      /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }
  
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width: 1599px) {
   
    /*6*/
    .HozzaszolasEgesz {
        /* border: 3px solid red;*/
         display: flex;
         flex-direction: column;
         max-height: 100rem;
         margin-top: 2rem;
     }

     /*6*/
     .FaceFelso {
       
     }
     
     /*6*/
     .Hozzaszolas {
      /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }
  
}

/* 6. Higher resolution desktops VÉGE*/


/* 7. Larger screen ELEJE*/

@media (min-width: 1600px) {

    /*7*/
    .HozzaszolasEgesz {
       /*  border: 3px solid red;*/
         display: flex;
         justify-content: center;
         flex-direction: column;
         max-height: 100rem;
         margin-top: 2rem;
     }

      /*7*/
     .FaceFelso {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         max-height: 100rem;
     
     }
     
      /*7*/
     .Hozzaszolas {
        /* border: 3px solid green;*/
        display: flex;
        justify-content: center;
       /* margin-top:1rem;*/
        padding-top: 3rem;
        max-height: 100rem;
        width:100%;
     }

}

/* 7. Larger screen VÉGE*/


